etl_workflow/Daily_Tech_Brief.json
{
  "name": "Daily_Tech_Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dc1ffce1-e2c1-41af-84b9-96e7961bab34",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "(\n    SELECT \n        title_cn,\n        summary,\n        points,\n        sentiment,\n        'HackerNews' as source_type,\n        discussion_link,\n        created_at\n    FROM view_dashboard_news\n    WHERE created_at > NOW() - INTERVAL '24 hours'\n      AND source_type = 'HackerNews'\n      AND title_cn IS NOT NULL \n      AND title_cn != ''\n      AND title_cn != 'null' \n      AND summary IS NOT NULL\n      AND summary != ''\n      AND summary != 'null'\n      AND summary NOT LIKE '%Analysis failed due to content access issues%'\n      AND LENGTH(summary) > 50\n    ORDER BY points::int DESC\n    LIMIT 7\n)\nUNION ALL\n(\n    SELECT \n        title_cn,\n        summary,\n        points,\n        sentiment,\n        'TechCrunch' as source_type,\n        discussion_link,\n        created_at\n    FROM view_dashboard_news\n    WHERE created_at > NOW() - INTERVAL '24 hours'\n      AND source_type = 'TechCrunch'\n      AND title_cn IS NOT NULL \n      AND title_cn != ''\n      AND title_cn != 'null' \n      AND summary IS NOT NULL\n      AND summary != ''\n      AND summary != 'null'\n      AND summary NOT LIKE '%Analysis failed due to content access issues%'\n      AND LENGTH(summary) > 50\n    ORDER BY created_at DESC\n    LIMIT 7\n)\nORDER BY created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "1fe60881-d9d9-46c4-88d7-354c6891bbe2",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst dateStr = new Date().toLocaleDateString('zh-CN', {month: 'long', day: 'numeric'});\n\nif (items.length === 0) {\n  return [{json: { subject: \"Tech Briefing\", email_body: \"暂无内容\" }}];\n}\n\nlet html = `\n<style>\n  :root {\n    color-scheme: light dark;\n    supported-color-schemes: light dark;\n  }\n  \n  @media (prefers-color-scheme: dark) {\n    .dm-bg { background-color: #121212 !important; }\n    .dm-text-main { color: #e8eaed !important; }\n    .dm-text-muted { color: #9aa0a6 !important; }\n    .dm-border-bottom { border-bottom: 2px solid #5f6368 !important; }\n    .dm-border-top { border-top: 1px solid #5f6368 !important; }\n    \n    .dm-link { color: #8ab4f8 !important; }\n  }\n</style>\n\n<div class=\"dm-bg dm-text-main\" style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #000000;\">\n  \n  <div class=\"dm-border-bottom\" style=\"padding-bottom: 16px; border-bottom: 2px solid #000000; margin-bottom: 24px;\">\n    <h1 class=\"dm-text-main\" style=\"margin: 0; font-size: 24px; font-weight: 700; letter-spacing: -0.5px; color: #000000;\">Tech Briefing</h1>\n    <p class=\"dm-text-main\" style=\"margin: 4px 0 0 0; color: #000000; font-size: 14px; font-weight: 620;\">${dateStr}</p>\n  </div>\n\n  <div>\n`;\n\nfor (const item of items) {\n    const news = item.json;\n    \n    let sourceLabel = \"\";\n    let valueLabel = \"\";\n    \n    if (news.source_type === 'HackerNews') {\n        sourceLabel = \"Hacker News\";\n        valueLabel = `${news.points || 0} Points`;\n    } else {\n        sourceLabel = \"TechCrunch\";\n        const dateObj = new Date(news.created_at);\n        valueLabel = dateObj.toLocaleTimeString('zh-CN', {\n            timeZone: 'Asia/Shanghai', \n            hour: '2-digit', \n            minute:'2-digit', \n            hour12: false\n        });\n    }\n\n    let rawSentiment = news.sentiment || 'Neutral';\n    let sentimentText = rawSentiment.charAt(0).toUpperCase() + rawSentiment.slice(1).toLowerCase();\n    \n    let sentimentColor = \"#444444\"; \n    if (sentimentText === 'Positive') sentimentColor = \"#0d652d\";\n    if (sentimentText === 'Negative') sentimentColor = \"#a50e0e\";\n\n    html += `\n    <div style=\"margin-bottom: 28px;\">\n        \n        <div class=\"dm-text-muted\" style=\"font-size: 12px; color: #444444; margin-bottom: 4px; font-weight: 650;\">\n            <span class=\"dm-text-main\" style=\"color: #000000;\">${sourceLabel}</span>\n            <span style=\"margin: 0 6px; color: #999;\"></span>\n            <span>${valueLabel}</span>\n            <span style=\"margin: 0 6px; color: #999;\"></span>\n            <span style=\"color: ${sentimentColor};\">${sentimentText}</span>\n        </div>\n        \n        <h3 style=\"margin: 0 0 6px 0; font-size: 18px; line-height: 1.4; font-weight: 650;\">\n            <a href=\"${news.discussion_link}\" class=\"dm-link\" style=\"text-decoration: none; color: #1a73e8;\">\n                ${news.title_cn}\n            </a>\n        </h3>\n        \n        <p class=\"dm-text-main\" style=\"margin: 0; font-size: 14px; color: #202124; line-height: 1.6; font-weight: 650;\">\n            ${news.summary || \"暂无摘要\"}\n        </p>\n        \n    </div>\n    `;\n}\n\nconst dashboardUrl = \"https://dashboard.trainingcqy.com\"; \n\nhtml += `\n  </div>\n  <div class=\"dm-border-top\" style=\"padding-top: 30px; border-top: 1px solid #dfe1e5; text-align: center;\">\n    \n    <a href=\"${dashboardUrl}\" style=\"display: inline-block; background-color: #1a73e8; color: #ffffff; padding: 12px 24px; border-radius: 4px; text-decoration: none; font-size: 14px; font-weight: 700; margin-bottom: 20px;\">\n      View Dashboard\n    </a>\n    \n    <p class=\"dm-text-muted\" style=\"margin: 0; color: #70757a; font-size: 12px;\">\n      &copy; 2026 trainingcqy.\n    </p>\n    \n  </div>\n</div>\n`;\n\nreturn [{\n    json: {\n        email_body: html,\n        subject: \"Tech Briefing\"\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "33b9aaf0-9807-415c-8f66-63cc3cfb875d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fromEmail": "trainingcqy@gmail.com",
        "toEmail": "trainingcqy@gmail.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.email_body }}",
        "options": {
          "bccEmail": "={{ $json.bcc_list }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        832,
        0
      ],
      "id": "c5f0e541-4472-42b9-98dd-4d4dacf956b6",
      "name": "Send email",
      "webhookId": "cf50574a-7209-49ca-b9e5-0f7eb757ca9a",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "smtp": {
          "id": "sWp9jBi4W6DtqvZL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    STRING_AGG(email, ', ') as bcc_list,\n    \n    $${{ $('Code in JavaScript').item.json.email_body }}$$ as email_body,\n    \n    $${{ $('Code in JavaScript').item.json.subject }}$$ as subject\n\nFROM subscribers\nWHERE is_active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "05d98569-041f-4c88-b310-a705f9586f87",
      "name": "Get_Subscribers",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get_Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Subscribers": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fa6c7626-965c-4723-8372-d5ea5d5e85bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc71cb19c52277ee6a828e6a21e2dba61964271db5e597d972c12c82fd716ddf"
  },
  "id": "w-P-ozqniwrxeq8or1cMH",
  "tags": []
}