etl_workflow/Daily_Tech_Brief.json
{
  "name": "Daily_Tech_Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "42780abb-c313-41f3-89be-6548eb5fee9b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    title_cn,\n    summary,\n    points,\n    sentiment,\n    source_type,\n    discussion_link,\n    created_at AT TIME ZONE 'UTC' AS created_at\nFROM view_dashboard_news\nWHERE created_at > (NOW() AT TIME ZONE 'UTC') - INTERVAL '24 hours'\n  AND title_cn IS NOT NULL\n  AND BTRIM(title_cn) <> ''\n  AND LOWER(title_cn) <> 'null'\n  AND summary IS NOT NULL\n  AND BTRIM(summary) <> ''\n  AND LOWER(summary) <> 'null'\n  AND summary NOT ILIKE '%Analysis failed due to content access issues%'\n  AND LENGTH(summary) > 15\nORDER BY created_at DESC\nLIMIT 240;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "8a33e8f5-78ce-43c7-9d29-05cfb4436183",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawNewsItems = $('Execute a SQL query').all().map((i) => i.json);\nconst rawSubscribers = $input.all().map((i) => i.json);\n\nfunction normalizeText(value) {\n  return String(value ?? '')\n    .replace(/[\\u200B-\\u200D\\uFEFF\\u00A0]/g, '')\n    .trim()\n    .replace(/^[\\s\"'“”‘’]+|[\\s\"'“”‘’]+$/g, '');\n}\n\nfunction normalizeSourceKey(value) {\n  return normalizeText(value).toLowerCase();\n}\n\nfunction dedupeNews(items) {\n  const seen = new Set();\n  const result = [];\n  for (const row of items) {\n    const key =\n      normalizeText(row.url) ||\n      normalizeText(row.discussion_link) ||\n      `${normalizeText(row.title_cn)}|${normalizeText(row.created_at)}`;\n    if (!key || seen.has(key)) continue;\n    seen.add(key);\n    result.push(row);\n  }\n  return result;\n}\n\nfunction dedupeSubscribers(items) {\n  const map = new Map();\n  for (const s of items) {\n    if (!s || !s.email) continue;\n    const k = normalizeText(s.email).toLowerCase();\n    if (!map.has(k)) map.set(k, s);\n  }\n  return Array.from(map.values());\n}\n\nconst newsItems = dedupeNews(rawNewsItems);\nconst subscribers = dedupeSubscribers(rawSubscribers);\n\nif (!subscribers.length) {\n  return [];\n}\n\nfunction parseSources(raw) {\n  if (Array.isArray(raw)) {\n    return raw.map((v) => normalizeText(v)).filter(Boolean);\n  }\n\n  if (typeof raw === 'string' && raw.trim()) {\n    try {\n      const parsed = JSON.parse(raw);\n      if (Array.isArray(parsed)) {\n        return parsed.map((v) => normalizeText(v)).filter(Boolean);\n      }\n    } catch (e) {\n      return raw.split(',').map((v) => normalizeText(v)).filter(Boolean);\n    }\n  }\n\n  return [];\n}\n\nfunction escapeHtml(value) {\n  return String(value ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n}\n\nfunction formatDate(date, timezone) {\n  try {\n    return new Intl.DateTimeFormat('zh-CN', {\n      month: 'long',\n      day: 'numeric',\n      timeZone: timezone,\n    }).format(new Date(date));\n  } catch {\n    return new Intl.DateTimeFormat('zh-CN', {\n      month: 'long',\n      day: 'numeric',\n      timeZone: 'Asia/Shanghai',\n    }).format(new Date(date));\n  }\n}\n\nfunction formatTime(date, timezone) {\n  try {\n    return new Intl.DateTimeFormat('zh-CN', {\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false,\n      timeZone: timezone,\n    }).format(new Date(date));\n  } catch {\n    return '';\n  }\n}\n\nfunction getRowSourceLabel(row) {\n  return (\n    normalizeText(row.source_type) ||\n    normalizeText(row.source_name) ||\n    'Other'\n  );\n}\n\nfunction getRowSourceKey(row) {\n  const byType = normalizeSourceKey(row.source_type);\n  if (byType) return byType;\n\n  const byName = normalizeSourceKey(row.source_name);\n  if (byName) return byName;\n\n  const byKey = normalizeSourceKey(row.source_key);\n  if (byKey) return byKey;\n\n  return 'other';\n}\n\nfunction isHackerNews(sourceKey, row) {\n  return (\n    sourceKey === 'hackernews' ||\n    normalizeSourceKey(row.source_key) === 'hackernews_frontpage'\n  );\n}\n\nfunction compareRows(a, b, sourceKey) {\n  if (isHackerNews(sourceKey, a)) {\n    const scoreDiff = (Number(b.points) || 0) - (Number(a.points) || 0);\n    if (scoreDiff !== 0) return scoreDiff;\n  }\n  return new Date(b.created_at).getTime() - new Date(a.created_at).getTime();\n}\n\nfunction pickNewsForSubscriber(preferredSources) {\n  const TOTAL_LIMIT = 18;\n  const MIN_PER_SOURCE = 2; // if available\n  const MAX_PER_SOURCE = 7;\n\n  const preferredKeys = preferredSources\n    .map((s) => normalizeSourceKey(s))\n    .filter(Boolean);\n\n  const sourceSet = preferredKeys.length ? new Set(preferredKeys) : null;\n\n  const filtered = sourceSet\n    ? newsItems.filter((n) => sourceSet.has(getRowSourceKey(n)))\n    : newsItems.slice();\n\n  if (!filtered.length) return [];\n\n  const grouped = new Map();\n  for (const row of filtered) {\n    const sourceKey = getRowSourceKey(row);\n    const sourceLabel = getRowSourceLabel(row);\n\n    if (!grouped.has(sourceKey)) {\n      grouped.set(sourceKey, { label: sourceLabel, rows: [] });\n    }\n\n    grouped.get(sourceKey).rows.push({\n      ...row,\n      __sourceKey: sourceKey,\n      __sourceLabel: sourceLabel,\n    });\n  }\n\n  const sourceOrder = preferredKeys.length\n    ? preferredKeys.filter((k) => grouped.has(k))\n    : Array.from(grouped.keys());\n\n  if (!sourceOrder.length) return [];\n\n  for (const sourceKey of sourceOrder) {\n    grouped.get(sourceKey).rows.sort((a, b) => compareRows(a, b, sourceKey));\n  }\n\n  const picked = [];\n  const nextIndex = new Map();\n  const countBySource = new Map();\n\n  for (const sourceKey of sourceOrder) {\n    nextIndex.set(sourceKey, 0);\n    countBySource.set(sourceKey, 0);\n  }\n\n  for (const sourceKey of sourceOrder) {\n    if (picked.length >= TOTAL_LIMIT) break;\n\n    const rows = grouped.get(sourceKey).rows;\n    const take = Math.min(MIN_PER_SOURCE, rows.length, TOTAL_LIMIT - picked.length);\n\n    for (let i = 0; i < take; i++) picked.push(rows[i]);\n\n    nextIndex.set(sourceKey, take);\n    countBySource.set(sourceKey, take);\n  }\n\n  while (picked.length < TOTAL_LIMIT) {\n    let best = null;\n\n    for (const sourceKey of sourceOrder) {\n      const rows = grouped.get(sourceKey).rows;\n      const idx = nextIndex.get(sourceKey) || 0;\n      const count = countBySource.get(sourceKey) || 0;\n\n      if (idx >= rows.length) continue;\n      if (count >= MAX_PER_SOURCE) continue;\n\n      const candidate = rows[idx];\n\n      if (!best) {\n        best = { sourceKey, row: candidate };\n      } else {\n        const t1 = new Date(candidate.created_at).getTime();\n        const t2 = new Date(best.row.created_at).getTime();\n        if (t1 > t2) best = { sourceKey, row: candidate };\n      }\n    }\n\n    if (!best) break;\n\n    picked.push(best.row);\n    nextIndex.set(best.sourceKey, (nextIndex.get(best.sourceKey) || 0) + 1);\n    countBySource.set(best.sourceKey, (countBySource.get(best.sourceKey) || 0) + 1);\n  }\n\n  picked.sort((a, b) => new Date(b.created_at).getTime() - new Date(a.created_at).getTime());\n  return picked.slice(0, TOTAL_LIMIT);\n}\n\nfunction formatShortDateTime(dateStr, timezone) {\n  try {\n    const d = new Date(dateStr);\n    const datePart = new Intl.DateTimeFormat('en-US', {\n      month: 'numeric',\n      day: 'numeric',\n      timeZone: timezone,\n    }).format(d);\n    \n    const timePart = new Intl.DateTimeFormat('zh-CN', {\n      hour: '2-digit',\n      minute: '2-digit',\n      hour12: false,\n      timeZone: timezone,\n    }).format(d);\n    \n    return `${datePart} ${timePart}`;\n  } catch {\n    return '';\n  }\n}\n\nfunction buildEmailBody(subscriber, pickedNews) {\n  const timezone = subscriber.timezone || 'Asia/Shanghai';\n  const rawName = normalizeText(subscriber.name);\n  const isValidName = rawName && !/^\\d+$/.test(rawName);\n  \n  const dateStr = formatDate(new Date(), timezone);\n\n  let html = '';\n  html += '<div style=\"font-family: \\'Helvetica Neue\\', Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #000000;\">';\n  \n  html += '<div style=\"padding-bottom: 16px; border-bottom: 2px solid #000000; margin-bottom: 24px;\">';\n  html += '<h1 style=\"margin: 0; font-size: 24px; font-weight: 700; letter-spacing: -0.5px; color: #000000;\">Tech Briefing</h1>';\n  html += '<p style=\"margin: 4px 0 0 0; color: #000000; font-size: 14px; font-weight: 620;\">' + escapeHtml(dateStr) + ' | ' + escapeHtml(timezone) + '</p>';\n  \n  if (isValidName) {\n    html += '<p style=\"margin: 4px 0 0 0; color: #000000; font-size: 14px; font-weight: 620;\">Hi, ' + escapeHtml(rawName) + '</p>';\n  }\n  \n  html += '</div>';\n\n  html += '<div>';\n  if (!pickedNews.length) {\n    html += '<div style=\"padding: 16px; border: 1px solid #dfe1e5; border-radius: 4px; background: #fafafa;\">';\n    html += '<p style=\"margin: 0; font-size: 14px; line-height: 1.6; font-weight: 650; color: #202124;\">No items matched your selected sources in the last 24 hours.</p>';\n    html += '</div>';\n  } else {\n    for (const news of pickedNews) {\n      const sourceLabel = news.__sourceLabel || getRowSourceLabel(news);\n      const sourceKey = news.__sourceKey || getRowSourceKey(news);\n      const sentiment = (news.sentiment || 'Neutral').toString();\n      const sentimentLabel = sentiment.charAt(0).toUpperCase() + sentiment.slice(1).toLowerCase();\n      \n      const sentimentColor =\n        sentimentLabel === 'Positive' ? '#0d652d' :\n        sentimentLabel === 'Negative' ? '#a50e0e' : '#444444';\n\n      const metricLabel = sourceKey === 'hackernews'\n        ? ((Number(news.points) || 0) + ' Points')\n        : formatShortDateTime(news.created_at, timezone);\n\n      html += '<div style=\"margin-bottom: 28px;\">';\n      \n      html += '<div style=\"font-size: 12px; color: #444444; margin-bottom: 4px; font-weight: 650;\">';\n      html += '<span style=\"color: #000000;\">' + escapeHtml(sourceLabel) + '</span>';\n      html += '<span style=\"margin: 0 6px; color: #999;\">&middot;</span>';\n      html += '<span>' + escapeHtml(metricLabel) + '</span>';\n      html += '<span style=\"margin: 0 6px; color: #999;\">&middot;</span>';\n      html += '<span style=\"color: ' + sentimentColor + ';\">' + escapeHtml(sentimentLabel) + '</span>';\n      html += '</div>';\n\n      html += '<h3 style=\"margin: 0 0 6px 0; font-size: 18px; line-height: 1.4; font-weight: 650;\">';\n      html += '<a href=\"' + escapeHtml(news.discussion_link || news.url || '#') + '\" style=\"text-decoration: none; color: #1a73e8;\">' + escapeHtml(news.title_cn || 'Untitled News') + '</a>';\n      html += '</h3>';\n\n      html += '<p style=\"margin: 0; font-size: 14px; color: #202124; line-height: 1.6; font-weight: 650;\">' + escapeHtml(news.summary || '暂无摘要') + '</p>';\n      html += '</div>';\n    }\n  }\n  html += '</div>';\n\n  html += '<div style=\"padding-top: 30px; border-top: 1px solid #dfe1e5; text-align: center;\">';\n  html += '<div style=\"margin-bottom: 16px;\">';\n  html += '<a href=\"https://dashboard.trainingcqy.com\" style=\"display: inline-block; width: 160px; background-color: #1a73e8; color: #ffffff; padding: 12px 0; text-align: center; border-radius: 4px; text-decoration: none; font-size: 14px; font-weight: 700;\">View Dashboard</a>';\n  html += '</div>';\n  html += '<div style=\"margin-bottom: 24px;\">';\n  html += '<a href=\"https://agent.trainingcqy.com\" style=\"display: inline-block; width: 160px; background-color: #1a73e8; color: #ffffff; padding: 12px 0; text-align: center; border-radius: 4px; text-decoration: none; font-size: 14px; font-weight: 700;\">Ask Agent</a>';\n  html += '</div>';\n  html += '<p style=\"margin: 0; color: #70757a; font-size: 12px;\">To unsubscribe, update your preference on the <a href=\"https://agent.trainingcqy.com/subscribe\" style=\"color: #1a73e8; text-decoration: none;\">subscription page</a>.</p>';\n  html += '</div>';\n  html += '</div>';\n\n  return html;\n}\n\nconst output = [];\nfor (const sub of subscribers) {\n  if (!sub.email) continue;\n\n  const preferredSources = parseSources(sub.source_preferences);\n  const pickedNews = pickNewsForSubscriber(preferredSources);\n  const timezone = sub.timezone || 'Asia/Shanghai';\n  const subjectDate = formatDate(new Date(), timezone);\n\n  output.push({\n    json: {\n      to_email: sub.email,\n      subject: 'Tech Briefing | ' + subjectDate,\n      email_body: buildEmailBody(sub, pickedNews),\n    },\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "6c21027a-4791-4ec3-b89b-4b30336c4c45",
      "name": "Code in JavaScript",
      "executeOnce": false
    },
    {
      "parameters": {
        "fromEmail": "trainingcqy@gmail.com",
        "toEmail": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        896,
        0
      ],
      "id": "28ad0704-930f-45b6-9a07-70bfab04a0aa",
      "name": "Send email",
      "webhookId": "cf50574a-7209-49ca-b9e5-0f7eb757ca9a",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "smtp": {
          "id": "sWp9jBi4W6DtqvZL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    email,\n    name,\n    COALESCE(source_preferences, '[]'::jsonb) AS source_preferences,\n    COALESCE(NULLIF(timezone, ''), 'Asia/Shanghai') AS timezone,\n    COALESCE(frequency, 'daily') AS frequency\nFROM subscribers\nWHERE is_active = TRUE\n  AND COALESCE(frequency, 'daily') = 'daily'\n  AND EXTRACT(HOUR FROM (NOW() AT TIME ZONE COALESCE(NULLIF(timezone, ''), 'Asia/Shanghai'))) = 8;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "id": "f74d1b9a-cede-40a9-873d-953402e65127",
      "name": "Get_Subscribers",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Get_Subscribers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Subscribers": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "facef052-8eb7-4b65-95f4-8350c3877029",
  "meta": {
    "instanceId": "cc71cb19c52277ee6a828e6a21e2dba61964271db5e597d972c12c82fd716ddf"
  },
  "id": "lDC8Rn79c52rBgYO",
  "tags": []
}