etl_workflow/System_Alert_Service.json
{
  "name": "System_Alert_Service",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ad9c2431-6c70-4774-9edf-35c427c81679",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fromEmail": "trainingcqy@gmail.com",
        "toEmail": "trainingcqy@gmail.com",
        "subject": "={{ $json.source }} 模块故障",
        "html": "=<div style=\"font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #ffffff; color: #202124; padding: 20px 0;\">\n  \n  <div style=\"max-width: 600px; margin: 0 auto; border: 1px solid #dadce0; border-radius: 8px; overflow: hidden;\">\n    \n    <div style=\"padding: 32px;\">\n      \n      <div style=\"margin-bottom: 32px;\">\n        <h1 style=\"margin: 0; font-size: 22px; font-weight: 400; color: #d93025; letter-spacing: -0.5px;\">System Alert Triggered</h1>\n      </div>\n      <div style=\"margin-bottom: 24px;\">\n        <div style=\"font-size: 14px; font-weight: 600; color: #202124;\">\n          {{ new Date().toLocaleString('zh-CN', {timeZone: 'Asia/Shanghai'}) }}\n        </div>\n      </div>\n\n      <div style=\"margin-bottom: 24px;\">\n        <div style=\"font-size: 11px; font-weight: 700; color: #5f6368; margin-bottom: 6px; text-transform: uppercase; letter-spacing: 0.8px;\">Source</div>\n        <div style=\"font-size: 14px; font-weight: 500; color: #202124;\">\n          {{ $json.source || $execution.lastNodeExecuted }}\n        </div>\n      </div>\n\n      <div style=\"margin-bottom: 32px;\">\n        <div style=\"font-size: 11px; font-weight: 700; color: #5f6368; margin-bottom: 6px; text-transform: uppercase; letter-spacing: 0.8px;\">Error Message</div>\n        <div style=\"font-size: 14px; font-weight: 500; color: #202124; line-height: 1.6;\">\n          {{ $json.error_message || $execution.error.message }}\n        </div>\n      </div>\n\n      <div style=\"margin-bottom: 24px;\">\n        <div style=\"font-size: 11px; font-weight: 600; color: #5f6368; margin-bottom: 6px; text-transform: uppercase; letter-spacing: 0.8px;\">Target</div>\n        <div style=\"font-size: 14px; font-weight: 600; color: #202124; font-family: 'Menlo', monospace; word-break: break-all;\">\n          {{ $json.url }}\n        </div>\n      </div>\n\n      <div style=\"text-align: center;\">\n        <a href=\"http://localhost:5678\" style=\"background-color: #1a73e8; color: #ffffff; padding: 10px 24px; border-radius: 4px; text-decoration: none; font-size: 14px; font-weight: 500; display: inline-block;\">\n          Open Console\n        </a>\n      </div>\n\n    </div>\n  </div>\n  \n  <div style=\"text-align: center; margin-top: 24px; font-size: 12px; color: #70757a;\">\n    &copy; 2026 TechNews Intelligence\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "67ddf4de-8dfb-42c7-82a9-7f013cb41fc6",
      "name": "Send email",
      "webhookId": "0cf5b080-1809-4958-b12f-bfdfa2137713",
      "credentials": {
        "smtp": {
          "id": "sWp9jBi4W6DtqvZL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "970050d7-89ce-4a6a-ba66-c68234ea6226",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "637dc1e4-f859-4c9d-863b-b6f8d9bef16f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "254b471fa50f95c8bdeb3b168acb87704b701a4e796abd09a694ec3e0a128433"
  },
  "id": "r4mRi5yxtJsH06JOp42lk",
  "tags": []
}