etl_workflow/System_Alert_Service.json
{
  "name": "System_Alert_Service",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        96
      ],
      "id": "ad9c2431-6c70-4774-9edf-35c427c81679",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fromEmail": "trainingcqy@gmail.com",
        "toEmail": "trainingcqy@gmail.com",
        "subject": "={{ '[' + ($json.event_type || 'ERROR') + '] ' + ($json.source_name || $json.source || $json.source_key || 'System') + ' Alert' }}",
        "html": "=<div style=\"font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif; background-color: #ffffff; color: #202124; padding: 20px 0;\">\n  <div style=\"max-width: 700px; margin: 0 auto; padding: 28px 26px; border: 1px solid #dfe1e5; border-radius: 12px;\">\n    <h1 style=\"margin: 0 0 10px; font-size: 22px; font-weight: 600; color: #d93025;\">System Alert</h1>\n    <p style=\"margin: 0 0 18px; color: #5f6368; font-size: 13px;\">{{ $json.alert_time }}</p>\n\n    <table style=\"width: 100%; border-collapse: collapse; font-size: 14px;\">\n      <tr><td style=\"width: 180px; padding: 8px 0; color: #5f6368;\">Event Type</td><td style=\"padding: 8px 0; font-weight: 600;\">{{ $json.event_type || 'ERROR' }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #5f6368;\">Source Name</td><td style=\"padding: 8px 0; font-weight: 600;\">{{ $json.source_name || $json.source || '-' }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #5f6368;\">Source Key</td><td style=\"padding: 8px 0; font-family: Menlo, monospace;\">{{ $json.source_key || '-' }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #5f6368;\">Platform / Origin</td><td style=\"padding: 8px 0;\">{{ $json.source_platform || '-' }} / {{ $json.signal_origin || '-' }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #5f6368;\">Workflow / Node</td><td style=\"padding: 8px 0;\">{{ $json.workflow_name || '-' }} / {{ $json.node_name || '-' }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #5f6368;\">Execution ID</td><td style=\"padding: 8px 0; font-family: Menlo, monospace;\">{{ $json.execution_id || '-' }}</td></tr>\n      <tr><td style=\"padding: 8px 0; color: #5f6368;\">Target URL</td><td style=\"padding: 8px 0; word-break: break-all;\">{{ $json.target_url || '-' }}</td></tr>\n    </table>\n\n    <div style=\"margin-top: 18px; padding: 12px 14px; border-radius: 8px; background: #f8f9fa; border: 1px solid #eceff1;\">\n      <div style=\"font-size: 12px; color: #5f6368; margin-bottom: 6px;\">Error Message</div>\n      <div style=\"font-size: 14px; line-height: 1.6; color: #202124;\">{{ $json.error || $json.message || 'No error details provided.' }}</div>\n    </div>\n\n    <div style=\"text-align: center; margin-top: 20px;\">\n      <a href=\"{{ $json.console_url }}\" style=\"background-color: #1a73e8; color: #ffffff; padding: 10px 22px; border-radius: 6px; text-decoration: none; font-size: 14px; font-weight: 600; display: inline-block;\">Open n8n Console</a>\n    </div>\n  </div>\n  <div style=\"text-align: center; margin-top: 16px; font-size: 12px; color: #70757a;\">&copy; 2026 TechNews Intelligence</div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        304,
        -192
      ],
      "id": "67ddf4de-8dfb-42c7-82a9-7f013cb41fc6",
      "name": "Send email",
      "webhookId": "0cf5b080-1809-4958-b12f-bfdfa2137713",
      "credentials": {
        "smtp": {
          "id": "sWp9jBi4W6DtqvZL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -192
      ],
      "id": "970050d7-89ce-4a6a-ba66-c68234ea6226",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list",
          "cachedResultName": "system_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "={{ $json.event_type || 'ERROR' }}",
            "source": "={{ $json.source_name || $json.source || $json.source_key || 'Unknown Source' }}",
            "target_url": "={{ $json.target_url || $json.url || '-' }}",
            "message": "={{ '[' + ($json.source_key || '-') + '|' + ($json.signal_origin || '-') + '] ' + ($json.error || $json.message || 'No error details provided.') }}",
            "created_at": "={{ $json.alert_time || new Date().toISOString() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_url",
              "displayName": "target_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        96
      ],
      "id": "ac892594-4332-4f83-81e8-9fc99a80bb22",
      "name": "Insert rows in system log",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $json || {};\n\nconst sourceName = payload.source_name || payload.source || payload.workflowName || payload?.workflow?.name || 'Unknown Source';\nconst sourceKey = payload.source_key || null;\nconst sourcePlatform = payload.source_platform || null;\nconst signalOrigin = payload.signal_origin || null;\nconst eventType = payload.event_type || (payload.execution ? 'WORKFLOW_ERROR' : 'ERROR');\nconst errorMessage = payload.error || payload.message || payload?.execution?.error?.message || 'No error details provided.';\nconst targetUrl = payload.target_url || payload.url || '-';\nconst workflowName = payload.workflow_name || payload.workflowName || payload?.workflow?.name || null;\nconst nodeName = payload.node_name || payload.nodeName || payload?.node?.name || null;\nconst executionId = payload.execution_id || payload.executionId || payload?.execution?.id || null;\nconst nowIso = new Date().toISOString();\n\nreturn [{\n  json: {\n    event_type: eventType,\n    source: sourceName,\n    source_key: sourceKey,\n    source_name: payload.source_name || sourceName,\n    source_platform: sourcePlatform,\n    signal_origin: signalOrigin,\n    target_url: targetUrl,\n    error: errorMessage,\n    message: errorMessage,\n    workflow_name: workflowName,\n    node_name: nodeName,\n    execution_id: executionId,\n    alert_time: nowIso,\n    console_url: $env.N8N_EDITOR_BASE_URL || 'http://localhost:5678'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -48
      ],
      "id": "e5e71a7a-0b8f-4ad8-b95c-13c34c7884dd",
      "name": "Normalize Alert Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Alert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Normalize Alert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Alert Data": {
      "main": [
        [
          {
            "node": "Insert rows in system log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in system log": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5f1281f3-2723-4826-9efe-25b89b5288c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "254b471fa50f95c8bdeb3b168acb87704b701a4e796abd09a694ec3e0a128433"
  },
  "id": "r4mRi5yxtJsH06JOp42lk",
  "tags": []
}
