etl_workflow/Tech_Intelligence.json
{
  "name": "Tech_Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1632,
        -848
      ],
      "id": "584d416d-fcb6-4399-8d69-d5e3d069f4a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/\\\\/g, '/').slice(0, 100000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech content:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- **ALLOWED TAGS**: [AI], [安全], [硬件], [开发], [商业], [生态].\n\n- **CONSTRAINT & MAPPING**: \n  1. You MUST strictly select ONE Tag from the list above. DO NOT invent tags.\n  2. **Edge Case Mapping (Ambiguity Resolver)**:\n     - **[AI]**: LLM Models / RAG / Agents / Papers / Datasets / Benchmarks.\n     - **[硬件]**: Phones / Chips / Robots / EV (Tesla) / Space / Energy.\n     - **[商业]**: Crypto Prices / Game Sales / IPO / Funding / Antitrust.\n     - **[开发]**: UI/UX / Design / Game Engines / Cloud Ops / Data Science Libs.\n     - **[安全]**: Fraud / Scams / Deepfake Defense / Privacy Tools / CVE.\n     - **[生态]**: Law / Science / History / Career / Remote Work.\n\n- **TAG SELECTION LOGIC (Semantic Value Priority)**:\n  *Analyze the \"Core Event\" (What actually happened?). Use the following hierarchy to resolve overlaps, prioritizing Innovation over Context.*\n  1. **First, identify the Core Event** (e.g., Launching a model vs. Being sued).\n  2. **Then, match the most fitting category** from the list below.\n  3. **If ambiguous**, prioritize categories higher in the list (Innovation > Business > Context).\n\n  1. **[AI] (Virtual Innovation)**:\n     - **Core Definition**: New Models (LLM/SLM), Algorithms, Agents, RAG, Datasets, or Research Papers.\n     - *Tie-Breaker*: If it is software/weight-based intelligence, select [AI].\n     - *Example*: \"OpenAI releases GPT-5\", \"Google DeepMind new paper\".\n\n  2. **[硬件] (Physical Innovation)**:\n     - **Core Definition**: Physical Chips (GPU/TPU/CPU), Consumer Devices (Phones/Headsets), Robotics, EV (Cars), Space, or Energy.\n     - *Tie-Breaker*: If it is a tangible object (even an AI chip like H100), select [硬件].\n     - *Example*: \"Nvidia H200 launched\", \"Apple Vision Pro update\".\n\n  3. **[商业] (Financial Impact)**:\n     - **Core Definition**: Corporate finance events: IPO, Earnings, Layoffs, Acquisition, Funding, Antitrust lawsuits.\n     - *Constraint*: Only use this if the news is NOT primarily about a product launch.\n     - *Example*: \"Microsoft revenue up 20%\", \"Tech startup lays off 50%\".\n\n  4. **[安全] (Critical Risk)**:\n     - **Core Definition**: Malicious attacks, Data Breaches, Ransomware, Critical CVEs, or Zero-day exploits.\n     - *Constraint*: Do NOT use for routine software updates or privacy policy changes.\n     - *Example*: \"LastPass database leaked\", \"Log4j vulnerability found\".\n\n  5. **[开发] (Engineering Tools)**:\n     - **Core Definition**: Updates to Programming Languages, Frameworks (React/Vue), Databases, Linux Kernel, Git, or UI/Design tools.\n     - *Scope*: Purely for developers and builders.\n\n  6. **[生态] (Macro Context)**:\n     - **Core Definition**: Policy, Legal regulations (GDPR/AI Act), Remote Work, Career advice, History, or Scientific discovery (Math/Physics/Bio).\n     - *Fallback*: If it doesn't fit 1-5, use this.\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Scenario-Based)\n**SCENARIO A: Standard News (TechCrunch/Blog)**\n- Action: Extract key facts (Who, What, Numbers, Impact).\n- Style: \"DeepSeek发布V3，参数量671B，成本降低90%。\"\n\n**SCENARIO B: Community Discussion (Hacker News Comments)**\n- Trigger: If content contains many usernames/timestamps or is a list of comments.\n- Action: **Synthesize the consensus.** DO NOT say \"User A said this\". Instead, list the **Top 3 mentioned tools/solutions** or the **Main Controversy**.\n- Style: \"社区热议个人网站托管，推荐最多的方案是: 1.GitHub Pages; 2.Cloudflare; 3.Hugo。\" (Keep it dense!)\n- Length: Max 400 Chinese characters.\n\n**SCENARIO C: Content Missing**\n- Action: Return \"Analysis failed due to content access issues.\".\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n**Example 1 (News):**\n{\n  \"translation\": \"[AI] DeepSeek发布V3开源模型\",\n  \"summary\": \"DeepSeek-V3参数量达671B，MMLU得分88.5，训练成本仅550万美元，已在HuggingFace开源。\",\n  \"sentiment\": \"Positive\"\n}\n**Example 2 (Discussion):**\n{\n  \"translation\": \"[开发] HN热议：最好的个人博客方案\",\n  \"summary\": \"讨论集中在静态网站生成器。主流推荐使用 Hugo 或 Jekyll 配合 GitHub Pages 免费托管，部分用户推荐 Notion 转网站方案。\",\n  \"sentiment\": \"Neutral\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"qwen-max\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON.\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        -1104
      ],
      "id": "83e6b22f-8355-4b9f-b155-d285111296b6",
      "name": "AI_Processor",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e18df3ce-0ffd-4ed2-bcb3-54525f05e6ca",
              "name": "title_cn",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).translation }}",
              "type": "string"
            },
            {
              "id": "fb590ee0-5f9f-48f2-8ced-5cbc98dad1cd",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).sentiment }}",
              "type": "string"
            },
            {
              "id": "a1c889c5-d527-4f58-ac6b-130ad51f50c3",
              "name": "url",
              "value": "={{ $('Merge').item.json.url || $('Merge').item.json.link }}",
              "type": "string"
            },
            {
              "id": "74281de8-efb5-419e-ae0b-d612c9a48b9a",
              "name": "points",
              "value": "={{ $('Merge').item.json.points || 0 }}",
              "type": "string"
            },
            {
              "id": "0575ef75-a229-4979-be32-2f2dc9ffc4fe",
              "name": "summary",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).summary }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -1104
      ],
      "id": "707ddec1-a111-4834-af46-c21191aaa5d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1408,
        -944
      ],
      "id": "3824930c-3e30-4ebe-be37-19007cf3e644",
      "name": "RSS Read",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        -848
      ],
      "id": "43b43f90-a1b2-4834-9968-3889de963b8c",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://api.hnpwa.com/v0/news/1.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        -752
      ],
      "id": "931427e3-2317-42fb-8013-0dfc5ba30288",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb91466-fd8a-498a-a575-3756456c7a6b",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "042e8738-42b6-47a6-836a-cd6088ebed2c",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "02b5b9cb-1da9-42cc-9f82-66efeb43cb00",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "0aaa96c3-5dbf-47cb-9943-cc86a106ce15",
              "name": "created_at",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "77a6ff9a-e017-4531-a9d8-67f15dbb7b3b",
              "name": "id",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -944
      ],
      "id": "c694297d-66dc-46e3-8f32-f5c7c4c13347",
      "name": "Edit Fields RSS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f76c08d-1729-4eb8-b5dd-b9bc9a650fe7",
              "name": "created_at",
              "value": "={{ new Date($json.time * 1000).toISOString() }}",
              "type": "string"
            },
            {
              "id": "13ba9b0c-8d68-4044-a781-35cf56d09851",
              "name": "=url",
              "value": "={{    $json.url.startsWith('http')    ? $json.url    : 'https://news.ycombinator.com/' + $json.url  }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -752
      ],
      "id": "97f93308-acea-493a-87e6-4410055e9cc4",
      "name": "Edit Fields HTTP"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -736,
        -848
      ],
      "id": "d8024abf-86cc-4fa6-95e8-d005870394b9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.JINA_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -1328
      ],
      "id": "80a21eb2-6f6f-4972-afed-28f99fe88110",
      "name": "Jina_Reader",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news",
          "mode": "list",
          "cachedResultName": "tech_news"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Merge').item.json.title }}",
            "url": "={{ $json.url }}",
            "points": "={{ $json.points }}",
            "title_cn": "={{ $json.title_cn }}",
            "sentiment": "={{ $json.sentiment ? $json.sentiment : 'Neutral' }}",
            "source_id": "={{ $('Merge').item.json.id ? String($('Merge').item.json.id) : null }}",
            "created_at": "={{ $('Merge').item.json.created_at }}",
            "summary": "={{ $json.summary }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        -832
      ],
      "id": "0cd0c7e5-9266-486e-bfcf-c7f5f95fbfd2",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COALESCE(\n        (SELECT id FROM tech_news WHERE url = $${{ $json.url }}$$ LIMIT 1),\n        (SELECT id FROM tech_news_failed WHERE url = $${{ $json.url }}$$ LIMIT 1)\n    ) as existing_id,\n    \n    $${{ $json.url }}$$ as url,\n    $${{ $json.title }}$$ as title,\n    {{ $json.points || 0 }} as points",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        -1120
      ],
      "id": "514c900e-c2a8-411f-94f3-fdc55505cbb0",
      "name": "Check_Existence",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tech_news\nSET \n    points = {{ $json.points }},\n    updated_at = NOW()\nWHERE url = $${{ $json.url }}$$\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        -832
      ],
      "id": "312f2190-2f6c-43eb-92aa-2b789faead68",
      "name": "Update_Points_Only",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e2b69db-d331-4c03-b281-36cb220a2a68",
              "leftValue": "={{ $json.existing_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        -1120
      ],
      "id": "ce5b222b-5715-4cec-8ec8-a46d21dc55cf",
      "name": "Check_unique"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9cf4085f-6fbf-4617-985c-c708985b7718",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -1328
      ],
      "id": "735ef69e-4141-4733-90b7-6cb226e521ea",
      "name": "Jina_Check"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r4mRi5yxtJsH06JOp42lk",
          "mode": "list",
          "cachedResultUrl": "/workflow/r4mRi5yxtJsH06JOp42lk",
          "cachedResultName": "System_Alert_Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1488,
        -1344
      ],
      "id": "37ed930a-5aac-4814-92e1-8dd15a852986",
      "name": "Call 'System_Alert_Service'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5254c2a-04ff-4bff-b0a4-ce58f9f8cf62",
              "leftValue": "={{ $json.title_cn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ce826707-ff54-4451-b6b3-2727097d925b",
              "leftValue": "={{ $json.title_cn }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ec044579-e819-4a12-8a05-d2d4ca7f0891",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "bd0e75dc-071e-46c4-a54b-90cbb1539e7d",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Analysis failed due to content access issues.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "fed5511a-197e-476b-8905-cc38db96590e",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        -1104
      ],
      "id": "eeb2a161-4c8e-4cc3-8bec-66a52fe2b011",
      "name": "Data_check"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list",
          "cachedResultName": "system_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "COMPLETE",
            "source": "Tech_Intelligence",
            "message": "={{ $json.message }}",
            "target_url": "={{ $json.target_url }}",
            "created_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_url",
              "displayName": "target_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -864
      ],
      "id": "fad3ccde-1875-404d-95a9-b1b1dcfb8ed0",
      "name": "System_log",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"source\": \"Jina_Reader\",\n    \"url\": $('Loop Over Items').item.json.url,\n    \"error\": \"抓取失败，内容为空或被拦截\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -1344
      ],
      "id": "8321601f-2920-40b8-ae82-0e8681ee76db",
      "name": "Prepare_Jina_Error_Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"source\": \"AI_Response\",\n    \"url\": $('Loop Over Items').item.json.url,\n    \"error\": \"AI节点分析失败\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        -1456
      ],
      "id": "b54fe085-4483-434d-ba8d-2394fd114e83",
      "name": "Prepare_AI_Error_Data"
    },
    {
      "parameters": {
        "jsCode": "let newCount = 0;\nlet updateCount = 0;\n\ntry {\n  newCount = $('Insert or update rows in a table').all().length;\n} catch (e) {}\n\ntry {\n  updateCount = $('Update_Points_Only').all().length;\n} catch (e) {}\n\nlet msgParts = [];\nif (newCount > 0) msgParts.push(`新增 ${newCount} 条`);\nif (updateCount > 0) msgParts.push(`刷新 ${updateCount} 条`);\n\nlet finalMsg = \"执行成功。\";\nif (msgParts.length > 0) {\n    finalMsg += \" \" + msgParts.join(\"，\") + \"。\";\n} else {\n    finalMsg += \" 本轮无有效数据变更。\";\n}\n\nreturn [{\n  json: {\n    message: finalMsg,\n    target_url: \"-\", \n    event_type: \"BATCH_COMPLETE\",\n    source: \"Tech_Intelligence\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        -864
      ],
      "id": "518002e2-9e7c-473f-8ca7-6e7750faaa2d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news_failed",
          "mode": "list",
          "cachedResultName": "tech_news_failed"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "original_title": "={{ $('Loop Over Items').item.json.title }}",
            "url": "={{ $('Loop Over Items').item.json.url }}",
            "error_reason": "Content Fetch Failed",
            "source_type": "={{ $('Loop Over Items').item.json.url.includes('techcrunch') ? 'TechCrunch' : 'HackerNews' }}",
            "created_at": "={{ $now }}",
            "title_cn": "={{ null }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "original_title",
              "displayName": "original_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_reason",
              "displayName": "error_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        -1488
      ],
      "id": "dd0a1660-fbdd-4264-9946-83fa9560163b",
      "name": "Insert rows in failed (Jina)",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news_failed",
          "mode": "list",
          "cachedResultName": "tech_news_failed"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "original_title": "={{ $('Merge').item.json.title }}",
            "title_cn": "={{ $('Edit Fields').item.json.title_cn || null }}",
            "url": "={{ $('Edit Fields').item.json.url }}",
            "error_reason": "AI Analysis Failed",
            "source_type": "={{ $('Loop Over Items').item.json.url.includes('techcrunch') ? 'TechCrunch' : 'HackerNews' }}",
            "created_at": "={{ $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "original_title",
              "displayName": "original_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_reason",
              "displayName": "error_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        -1120
      ],
      "id": "0b92ae4c-41fe-4fb2-9757-08c32f45be79",
      "name": "Insert rows in failed (AI)",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Data_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields HTTP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check_Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Reader": {
      "main": [
        [
          {
            "node": "Jina_Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Existence": {
      "main": [
        [
          {
            "node": "Check_unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Points_Only": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_unique": {
      "main": [
        [
          {
            "node": "Jina_Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update_Points_Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Check": {
      "main": [
        [
          {
            "node": "Prepare_Jina_Error_Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in failed (Jina)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'System_Alert_Service'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data_check": {
      "main": [
        [
          {
            "node": "Prepare_AI_Error_Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in failed (AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Jina_Error_Data": {
      "main": [
        [
          {
            "node": "Call 'System_Alert_Service'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_AI_Error_Data": {
      "main": [
        [
          {
            "node": "Call 'System_Alert_Service'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "System_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "r4mRi5yxtJsH06JOp42lk"
  },
  "versionId": "2e06e576-b80c-454c-b807-69f53999cf23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc71cb19c52277ee6a828e6a21e2dba61964271db5e597d972c12c82fd716ddf"
  },
  "id": "OeHIublhZVdKQ6fImtr_U",
  "tags": []
}