etl_workflow/Tech_Intelligence.json
{
  "name": "Tech_Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1632,
        -592
      ],
      "id": "584d416d-fcb6-4399-8d69-d5e3d069f4a1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.DEEPSEEK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/\\\\/g, '/').slice(0, 15000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech news:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- Tag Priority: [AI] > [安全] > [硬件] > [开发] > [商业] > [生态].\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Critical)\n- Key: 'summary'\n- Mode: High-density Fact Extraction.\n- Source: Extract specific numbers, version names, benchmarks, or financial figures from FULL_CONTENT.\n- Length: Max 100 Chinese characters (Keep it short for dashboard).\n- **Fallback Logic**: If content starts with \"CONTENT_UNAVAILABLE\", you MUST still return valid JSON summary: \"Analysis failed due to content access issues.\"\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n{\n  \"translation\": \"[AI] DeepSeek发布V3开源模型\",\n  \"summary\": \"DeepSeek-V3参数量达671B，MMLU得分88.5，训练成本仅550万美元，已在HuggingFace开源。\",\n  \"sentiment\": \"Positive\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"deepseek-chat\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON.\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        -656
      ],
      "id": "83e6b22f-8355-4b9f-b155-d285111296b6",
      "name": "AI_Processor",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e18df3ce-0ffd-4ed2-bcb3-54525f05e6ca",
              "name": "title_cn",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).translation }}",
              "type": "string"
            },
            {
              "id": "fb590ee0-5f9f-48f2-8ced-5cbc98dad1cd",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).sentiment }}",
              "type": "string"
            },
            {
              "id": "a1c889c5-d527-4f58-ac6b-130ad51f50c3",
              "name": "url",
              "value": "={{ $('Merge').item.json.url || $('Merge').item.json.link }}",
              "type": "string"
            },
            {
              "id": "74281de8-efb5-419e-ae0b-d612c9a48b9a",
              "name": "points",
              "value": "={{ $('Merge').item.json.points || 0 }}",
              "type": "string"
            },
            {
              "id": "0575ef75-a229-4979-be32-2f2dc9ffc4fe",
              "name": "summary",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).summary }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -656
      ],
      "id": "707ddec1-a111-4834-af46-c21191aaa5d1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1408,
        -672
      ],
      "id": "3824930c-3e30-4ebe-be37-19007cf3e644",
      "name": "RSS Read",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        -592
      ],
      "id": "43b43f90-a1b2-4834-9968-3889de963b8c",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://api.hnpwa.com/v0/news/1.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1408,
        -480
      ],
      "id": "931427e3-2317-42fb-8013-0dfc5ba30288",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb91466-fd8a-498a-a575-3756456c7a6b",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "042e8738-42b6-47a6-836a-cd6088ebed2c",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "02b5b9cb-1da9-42cc-9f82-66efeb43cb00",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "0aaa96c3-5dbf-47cb-9943-cc86a106ce15",
              "name": "created_at",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0e770229-fc09-4bbf-bd7a-510ad3a386cb",
              "name": "id",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -672
      ],
      "id": "c694297d-66dc-46e3-8f32-f5c7c4c13347",
      "name": "Edit Fields RSS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f76c08d-1729-4eb8-b5dd-b9bc9a650fe7",
              "name": "created_at",
              "value": "={{ new Date($json.time * 1000).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1184,
        -480
      ],
      "id": "97f93308-acea-493a-87e6-4410055e9cc4",
      "name": "Edit Fields HTTP"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -736,
        -592
      ],
      "id": "d8024abf-86cc-4fa6-95e8-d005870394b9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.JINA_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -944
      ],
      "id": "80a21eb2-6f6f-4972-afed-28f99fe88110",
      "name": "Jina_Reader",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news",
          "mode": "list",
          "cachedResultName": "tech_news"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Merge').item.json.title }}",
            "url": "={{ $json.url }}",
            "points": "={{ $json.points }}",
            "title_cn": "={{ $json.title_cn }}",
            "sentiment": "={{ $json.sentiment ? $json.sentiment : 'Neutral' }}",
            "source_id": "={{ $('Merge').item.json.id ? String($('Merge').item.json.id) : null }}",
            "created_at": "={{ $('Merge').item.json.created_at }}",
            "summary": "={{ $json.summary }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "time_ago",
              "displayName": "time_ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        -464
      ],
      "id": "0cd0c7e5-9266-486e-bfcf-c7f5f95fbfd2",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    (SELECT id FROM tech_news WHERE url = $${{ $json.url }}$$ LIMIT 1) as existing_id,\n    \n    $${{ $json.url }}$$ as url,\n    $${{ $json.title }}$$ as title,\n    {{ $json.points || 0 }} as points",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        -864
      ],
      "id": "514c900e-c2a8-411f-94f3-fdc55505cbb0",
      "name": "Check_Existence",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news",
          "mode": "list",
          "cachedResultName": "tech_news"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "points": "={{ $('Loop Over Items').item.json.points || 0 }}",
            "url": "={{ $('Loop Over Items').item.json.url }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time_ago",
              "displayName": "time_ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        -464
      ],
      "id": "312f2190-2f6c-43eb-92aa-2b789faead68",
      "name": "Update_Points_Only",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e2b69db-d331-4c03-b281-36cb220a2a68",
              "leftValue": "={{ $json.existing_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -288,
        -864
      ],
      "id": "ce5b222b-5715-4cec-8ec8-a46d21dc55cf",
      "name": "Check_unique"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9cf4085f-6fbf-4617-985c-c708985b7718",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -944
      ],
      "id": "735ef69e-4141-4733-90b7-6cb226e521ea",
      "name": "Jina_Check"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r4mRi5yxtJsH06JOp42lk",
          "mode": "list",
          "cachedResultUrl": "/workflow/r4mRi5yxtJsH06JOp42lk",
          "cachedResultName": "System_Alert_Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        608,
        -880
      ],
      "id": "37ed930a-5aac-4814-92e1-8dd15a852986",
      "name": "Call 'System_Alert_Service'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"source\": \"Jina_Reader\",\n    \"url\": $('Loop Over Items').item.json.url,\n    \"error_message\": \"抓取失败，内容为空或被拦截\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -880
      ],
      "id": "8321601f-2920-40b8-ae82-0e8681ee76db",
      "name": "Prepare_Error_Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields HTTP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check_Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Reader": {
      "main": [
        [
          {
            "node": "Jina_Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Existence": {
      "main": [
        [
          {
            "node": "Check_unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Points_Only": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_unique": {
      "main": [
        [
          {
            "node": "Jina_Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update_Points_Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Check": {
      "main": [
        [
          {
            "node": "Prepare_Error_Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'System_Alert_Service'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Error_Data": {
      "main": [
        [
          {
            "node": "Call 'System_Alert_Service'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "r4mRi5yxtJsH06JOp42lk"
  },
  "versionId": "4b48f314-31ea-41e0-8f5a-26227c0d9751",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "254b471fa50f95c8bdeb3b168acb87704b701a4e796abd09a694ec3e0a128433"
  },
  "id": "OeHIublhZVdKQ6fImtr_U",
  "tags": []
}