etl_workflow/Tech_Intelligence.json
{
  "name": "Tech_Intelligence",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2240,
        8176
      ],
      "id": "e87d5a90-f7e7-4556-ba69-3b97293a70ce",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const sourceKey = loopNode.item.json.source_key || \"unknown\";\n    const sourceName = loopNode.item.json.source_name || \"unknown\";\n    const sourcePlatform = loopNode.item.json.source_platform || \"unknown\";\n    const signalOrigin = loopNode.item.json.signal_origin || \"unknown\";\n\n    const rawContent = $('Jina_Reader').item.json.data;\n    const cleaned = rawContent\n      ? rawContent\n          .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n          .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n          .replace(/\\\\/g, '/')\n          .replace(/\\r/g, '')\n          .trim()\n      : \"\";\n\n    const content = cleaned ? cleaned.slice(0, 22000) : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n    const profile = \"COMMUNITY\";\n    const scenarioHint = \"Prefer scenario B when discussion signal is strong\";\n    const sourceRules = [\n    \"This source is Hacker News frontpage. Prioritize discussion signal extraction over narrative rewriting.\",\n    \"If the URL points to an external article and discussion evidence is weak, use scenario A.\",\n    \"When scenario B is used, lead directly with 核心议题 and include 技术分歧/可行方案 only when present.\",\n    \"Do not use marketing adjectives or emotional wording.\"\n];\n\n    const userPrompt = [\n      \"Analyze this tech content:\",\n      \"\",\n      'HEADLINE: \"' + title + '\"',\n      \"\",\n      \"FULL_CONTENT:\",\n      '\"\"\"',\n      content,\n      '\"\"\"',\n      \"\",\n      \"### GOAL\",\n      \"Output a JSON object with keys: 'translation', 'sentiment', 'summary'.\",\n      \"\",\n      \"### SOURCE CONTEXT\",\n      \"- source_key: \" + sourceKey,\n      \"- source_name: \" + sourceName,\n      \"- source_platform: \" + sourcePlatform,\n      \"- signal_origin: \" + signalOrigin,\n      \"- profile: \" + profile,\n      \"- scenario_hint: \" + scenarioHint,\n      \"\",\n      \"### 1. TRANSLATION RULES\",\n      \"- Format: '[Tag] Chinese Title'\",\n      \"- ALLOWED TAGS: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\",\n      \"- You MUST choose exactly ONE tag from the allowed list.\",\n      \"- Mapping:\",\n      \"  - [AI]: LLM/SLM models, agents, RAG, papers, datasets, benchmarks.\",\n      \"  - [\\u786c\\u4ef6]: chips, phones/devices, robots, EV, space, energy.\",\n      \"  - [\\u5546\\u4e1a]: funding, earnings, layoffs, IPO, M&A, antitrust.\",\n      \"  - [\\u5f00\\u53d1]: languages/frameworks, cloud ops, engineering tooling.\",\n      \"  - [\\u5b89\\u5168]: CVE, exploit, breach, ransomware, fraud, privacy incident.\",\n      \"  - [\\u751f\\u6001]: law/policy, career, remote work, science context.\",\n      \"- If overlap exists, resolve by core event priority: [AI] > [\\u786c\\u4ef6] > [\\u5546\\u4e1a] > [\\u5b89\\u5168] > [\\u5f00\\u53d1] > [\\u751f\\u6001].\",\n      \"- Style: professional, objective, no clickbait.\",\n      \"\",\n      \"### 2. SUMMARY RULES (Scenario-Based)\",\n      \"CRITICAL JSON FORMATTING: Do NOT use ASCII double quotes (\\\") inside generated text values. Use Chinese quotes (\\u201c\\u201d) when needed.\",\n      \"\",\n      \"SCENARIO A: Standard News (Tech blog / media)\",\n      \"- Extract hard facts only: entities, actions, dates, metrics, availability (GA/preview), and pricing if any.\",\n      \"- Style: cold objective, high information density, complete sentence ending with punctuation.\",\n      \"- Length: max 200 Chinese characters.\",\n      \"\",\n      \"SCENARIO B: Community Discussion (HN-like comments)\",\n      \"- Trigger when content is comment-thread heavy (many usernames/timestamps/replies).\",\n      \"- Synthesize consensus and disagreements; never translate user-by-user comments.\",\n      \"- Prefer in-text labels only when present: \\u6838\\u5fc3\\u8bae\\u9898\\uff1a \\u6280\\u672f\\u5206\\u6b67\\uff1a \\u53ef\\u884c\\u65b9\\u6848\\uff1a\",\n      \"- Length: max 200 Chinese characters.\",\n      \"\",\n      \"SCENARIO C: Content Missing / Paywall / Access Denied\",\n      \"- Trigger when content is too short, or contains Enable JavaScript / 403 Forbidden / Access Denied / captcha / bot-check.\",\n      \"- summary MUST be EXACT English string: Analysis failed due to content access issues.\",\n      \"- Do NOT translate this sentence.\",\n      \"\",\n      \"### 3. SENTIMENT\",\n      \"- Allowed values: Positive, Neutral, Negative.\",\n      \"- Positive: measurable growth or breakthrough; Negative: breach/bug/layoff/major regression; else Neutral.\",\n      \"- If scenario C, sentiment MUST be Neutral.\",\n      \"\",\n      \"### 4. SOURCE-SPECIFIC EXTRA RULES\",\n      ...sourceRules.map((r) => \"- \" + r),\n      \"\",\n      \"### OUTPUT FORMAT\",\n      \"Return STRICT JSON only, exactly these keys: translation, summary, sentiment.\",\n      \"No markdown, no extra keys, no explanation text.\"\n    ].join(\"\\n\");\n\n    return JSON.stringify({\n      model: \"qwen3-max\",\n      max_tokens: 1000,\n      messages: [\n        {\n          role: \"system\",\n          content: \"You are a Senior Tech Intelligence Analyst. Output strict valid JSON only with keys translation, summary, sentiment. Never output markdown or extra fields.\"\n        },\n        {\n          role: \"user\",\n          content: userPrompt\n        }\n      ],\n      response_format: { type: \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        7696
      ],
      "id": "972826b4-7d59-4449-bbfa-13e378fee8f4",
      "name": "AI_Processor_HN",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e18df3ce-0ffd-4ed2-bcb3-54525f05e6ca",
              "name": "title_cn",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).translation }}",
              "type": "string"
            },
            {
              "id": "fb590ee0-5f9f-48f2-8ced-5cbc98dad1cd",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).sentiment }}",
              "type": "string"
            },
            {
              "id": "a1c889c5-d527-4f58-ac6b-130ad51f50c3",
              "name": "url",
              "value": "={{ $('Loop Over Items').item.json.url || $('Loop Over Items').item.json.link }}",
              "type": "string"
            },
            {
              "id": "74281de8-efb5-419e-ae0b-d612c9a48b9a",
              "name": "points",
              "value": "={{ $('Loop Over Items').item.json.points || 0 }}",
              "type": "string"
            },
            {
              "id": "0575ef75-a229-4979-be32-2f2dc9ffc4fe",
              "name": "summary",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).summary }}",
              "type": "string"
            },
            {
              "id": "bde24608-edb3-4c8b-b443-fef7f8d11d20",
              "name": "title",
              "value": "={{ $('Loop Over Items').item.json.title || null }}",
              "type": "string"
            },
            {
              "id": "6e9c3778-3e6f-45df-b31b-fa7ba75f0f56",
              "name": "id",
              "value": "={{ $('Loop Over Items').item.json.id || null }}",
              "type": "string"
            },
            {
              "id": "2f53a631-89cf-4c16-b174-2146736bf8e5",
              "name": "created_at",
              "value": "={{ $('Loop Over Items').item.json.created_at || null }}",
              "type": "string"
            },
            {
              "id": "3fd6d454-2363-4e7e-a7a6-d78e6b7d58d5",
              "name": "source_key",
              "value": "={{ $('Loop Over Items').item.json.source_key || null }}",
              "type": "string"
            },
            {
              "id": "e3fd2d1c-fdcd-46ad-9447-4574fd251d91",
              "name": "source_name",
              "value": "={{ $('Loop Over Items').item.json.source_name || null }}",
              "type": "string"
            },
            {
              "id": "c96366e8-2f2f-4fd9-9b9f-8d8be420f8d2",
              "name": "source_platform",
              "value": "={{ $('Loop Over Items').item.json.source_platform || null }}",
              "type": "string"
            },
            {
              "id": "6d177f44-d676-40d9-8569-89145a7f9f96",
              "name": "signal_origin",
              "value": "={{ $('Loop Over Items').item.json.signal_origin || null }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5040,
        8160
      ],
      "id": "89615d15-ea73-4016-bf9c-8c97b93026b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        2544,
        8448
      ],
      "id": "7b3ba0af-9b76-4831-b141-92e71fbe0971",
      "name": "RSS Read",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3216,
        8096
      ],
      "id": "d614802c-eccf-4235-acfe-b263b47654c1",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://hn.algolia.com/api/v1/search?tags=front_page&page=0&hitsPerPage=60&numericFilters=points>=30,num_comments>=5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        8624
      ],
      "id": "41aa8306-b4a1-4fd3-9940-f43a3bd6b070",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb91466-fd8a-498a-a575-3756456c7a6b",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "042e8738-42b6-47a6-836a-cd6088ebed2c",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "02b5b9cb-1da9-42cc-9f82-66efeb43cb00",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "0aaa96c3-5dbf-47cb-9943-cc86a106ce15",
              "name": "created_at",
              "value": "={{ $json.pubDate || $json.isoDate || $json.date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "77a6ff9a-e017-4531-a9d8-67f15dbb7b3b",
              "name": "id",
              "value": "={{ $json.guid || $json.id || null }}",
              "type": "string"
            },
            {
              "id": "f556584f-8913-4c94-a0a6-2086f94c1744",
              "name": "source_key",
              "value": "techcrunch_feed",
              "type": "string"
            },
            {
              "id": "ec4295ff-1f2d-4f58-a780-74f09a2a2fdf",
              "name": "source_name",
              "value": "TechCrunch",
              "type": "string"
            },
            {
              "id": "f55a53d6-a5ca-4c6c-a6d2-5af789c007ca",
              "name": "source_platform",
              "value": "TechCrunch",
              "type": "string"
            },
            {
              "id": "89ea7938-2165-404d-b9d9-6ca1ecef39a7",
              "name": "signal_origin",
              "value": "Media",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        8448
      ],
      "id": "6a549ab0-55dc-41a8-9e54-af4ee3192538",
      "name": "Edit Fields RSS"
    },
    {
      "parameters": {
        "url": "https://blog.google/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        2544,
        8272
      ],
      "id": "8f9f0a5b-1a3a-4e9b-881a-87abeee59da4",
      "name": "RSS Read Google AI",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2945bd7-9dcc-4cd4-92c8-18c6dce94127",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "9d89f122-f750-4796-b67c-43b7df4f655f",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "1bf0b676-8716-4e4b-8578-4125560502d9",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "af9f9ab9-f66e-4252-912f-2fce42c85478",
              "name": "created_at",
              "value": "={{ $json.pubDate || $json.isoDate || $json.date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b1f5fd3a-97d6-4b5e-99e0-7f936f5e5d4b",
              "name": "id",
              "value": "={{ $json.guid || $json.id || null }}",
              "type": "string"
            },
            {
              "id": "6f3c4f33-6875-49d2-aa8d-d5ab3df643ff",
              "name": "source_key",
              "value": "google_ai_blog",
              "type": "string"
            },
            {
              "id": "8064f6df-49b7-4c29-80f2-f8f8dd6ddfcd",
              "name": "source_name",
              "value": "Google AI Blog",
              "type": "string"
            },
            {
              "id": "7f741f89-2eaf-4667-a448-328238ec17f4",
              "name": "source_platform",
              "value": "DirectRSS",
              "type": "string"
            },
            {
              "id": "19d6ab71-cf50-4fc2-a6ec-65a7a6151f09",
              "name": "signal_origin",
              "value": "Official",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        8272
      ],
      "id": "7fd02772-62bd-49bc-a0a1-5c0c785c3811",
      "name": "Edit Fields RSS Google AI"
    },
    {
      "parameters": {
        "url": "https://aws.amazon.com/blogs/machine-learning/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        2544,
        8096
      ],
      "id": "65d80245-6ce7-4d43-89a2-dc9c753d0965",
      "name": "RSS Read AWS ML",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e3438bf-c35d-4e06-8a95-c4eec7d5fdae",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "8c22b009-bad1-4702-a41a-e4a7db4f2f1e",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "34b59c28-1847-4d6b-a8ff-2ac6f5d7bb34",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "de0333d0-399d-435a-a1fa-6ecde8dd3ff6",
              "name": "created_at",
              "value": "={{ $json.pubDate || $json.isoDate || $json.date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "f7fadcf6-cdf0-4d53-b7c8-64f3e7d75da8",
              "name": "id",
              "value": "={{ $json.guid || $json.id || null }}",
              "type": "string"
            },
            {
              "id": "68ad28f6-5f2f-4e05-b5cf-0341f4bd5e7a",
              "name": "source_key",
              "value": "aws_ml_blog",
              "type": "string"
            },
            {
              "id": "1db0ccbf-a869-4518-8860-f9f0fe17a19e",
              "name": "source_name",
              "value": "AWS Machine Learning Blog",
              "type": "string"
            },
            {
              "id": "7f95e282-c8ac-4eaf-9bab-0b8960c5d34b",
              "name": "source_platform",
              "value": "DirectRSS",
              "type": "string"
            },
            {
              "id": "e612efa5-4294-4e1d-8dbe-f4de4916ab39",
              "name": "signal_origin",
              "value": "Official",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        8096
      ],
      "id": "dd289a7e-e70c-4172-808b-5afabb74e3ff",
      "name": "Edit Fields RSS AWS ML"
    },
    {
      "parameters": {
        "url": "https://blogs.microsoft.com/?feed=rss2",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        2544,
        7936
      ],
      "id": "38e9bf6e-8e3b-4b48-b2b4-548220ac959c",
      "name": "RSS Read Microsoft AI",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0682f5f2-0fca-422e-b807-337a85dcbea5",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f9f17822-60d2-4bc4-9f45-6af48182f770",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "a3cdbf55-8c58-4faf-a03f-d325eb63d64e",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "f500c4d8-4cb0-41a5-a502-80880af7f6fd",
              "name": "created_at",
              "value": "={{ $json.pubDate || $json.isoDate || $json.date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "52ca52b7-8a73-4400-a677-49fc9dc8f1e7",
              "name": "id",
              "value": "={{ $json.guid || $json.id || null }}",
              "type": "string"
            },
            {
              "id": "f70f2bfd-b0d0-4b57-a242-7f770f4919a1",
              "name": "source_key",
              "value": "microsoft_ai_blog",
              "type": "string"
            },
            {
              "id": "f956b94c-79e6-4306-a6dd-e74ca0942f83",
              "name": "source_name",
              "value": "Microsoft AI Blog",
              "type": "string"
            },
            {
              "id": "2c1025f1-8216-4fc3-9682-c920513e11cb",
              "name": "source_platform",
              "value": "DirectRSS",
              "type": "string"
            },
            {
              "id": "5f73f9fd-1a90-4b9c-b058-0fca3622111d",
              "name": "signal_origin",
              "value": "Official",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        7936
      ],
      "id": "0067d930-9afb-4fd4-a4cc-c206c78fb9dc",
      "name": "Edit Fields RSS Microsoft AI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f76c08d-1729-4eb8-b5dd-b9bc9a650fe7",
              "name": "created_at",
              "value": "={{ $json.created_at || ($json.created_at_i ? new Date($json.created_at_i * 1000).toISOString() : $now.toISO()) }}",
              "type": "string"
            },
            {
              "id": "13ba9b0c-8d68-4044-a781-35cf56d09851",
              "name": "url",
              "value": "={{ $json.url || 'https://news.ycombinator.com/item?id=' + $json.objectID }}",
              "type": "string"
            },
            {
              "id": "31e8e3cb-5a8e-4def-9113-fcb0b36fa10b",
              "name": "id",
              "value": "={{ $json.objectID }}",
              "type": "string"
            },
            {
              "id": "a9f53dc1-b689-4fdf-b22c-1e76f2bbf05e",
              "name": "source_key",
              "value": "hackernews_frontpage",
              "type": "string"
            },
            {
              "id": "8bd90f16-c5f5-4941-8a8a-81fd0874f682",
              "name": "source_name",
              "value": "HackerNews",
              "type": "string"
            },
            {
              "id": "1462c1dc-9054-4f35-b390-24881ce099cb",
              "name": "source_platform",
              "value": "HackerNews",
              "type": "string"
            },
            {
              "id": "24f33088-3b40-444b-aa5c-12c34d9d8e4f",
              "name": "signal_origin",
              "value": "Community",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        8624
      ],
      "id": "61d59eab-154a-4584-90cc-4484a71358a6",
      "name": "Edit Fields HTTP"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3424,
        8160
      ],
      "id": "b321fe84-0911-484e-a310-cdc46f995a96",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.JINA_API_KEY }}"
            },
            {
              "name": "X-Retain-Links",
              "value": "text"
            },
            {
              "name": "X-Retain-Images",
              "value": "none"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4048,
        7616
      ],
      "id": "bca74d61-6d05-41d0-a7e3-081b7245bfa2",
      "name": "Jina_Reader",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news",
          "mode": "list",
          "cachedResultName": "tech_news"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Loop Over Items').item.json.title || $json.title || $json.title_cn || null }}",
            "url": "={{ $json.url }}",
            "points": "={{ $json.points }}",
            "title_cn": "={{ $json.title_cn }}",
            "sentiment": "={{ $json.sentiment ? $json.sentiment : 'Neutral' }}",
            "source_id": "=={{ \n  $('Loop Over Items').item.json.source_key === 'hackernews_frontpage'\n    ? String($('Loop Over Items').item.json.id || null)\n    : null\n}}\n",
            "source_key": "={{ $('Loop Over Items').item.json.source_key || null }}",
            "source_name": "={{ $('Loop Over Items').item.json.source_name || null }}",
            "source_platform": "={{ $('Loop Over Items').item.json.source_platform || null }}",
            "signal_origin": "={{ $('Loop Over Items').item.json.signal_origin || null }}",
            "created_at": "={{ $('Loop Over Items').item.json.created_at || $json.created_at || $now.toISO() }}",
            "summary": "={{ $json.summary }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_platform",
              "displayName": "source_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "signal_origin",
              "displayName": "signal_origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5488,
        8176
      ],
      "id": "33e2ae7b-8ec7-4849-a302-219d0a154923",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    COALESCE(\n        (SELECT id FROM tech_news WHERE url = $${{ $json.url }}$$ LIMIT 1),\n        (SELECT id FROM tech_news_failed WHERE url = $${{ $json.url }}$$ LIMIT 1)\n    ) as existing_id,\n    \n    $${{ $json.url }}$$ as url,\n    $${{ $json.title }}$$ as title,\n    {{ $json.points || 0 }} as points",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3648,
        7904
      ],
      "id": "67d3f236-b8f6-48e8-b052-29a30415cbbd",
      "name": "Check_Existence",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tech_news\nSET \n    points = {{ $json.points }},\n    updated_at = NOW()\nWHERE url = $${{ $json.url }}$$\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4112,
        8144
      ],
      "id": "406886b1-a171-4522-b9e0-8ff6f8b30db6",
      "name": "Update_Points_Only",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e2b69db-d331-4c03-b281-36cb220a2a68",
              "leftValue": "={{ $json.existing_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3872,
        7904
      ],
      "id": "ec6577d5-eba4-4dd1-8e5c-15e3789ca118",
      "name": "Check_unique"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9cf4085f-6fbf-4617-985c-c708985b7718",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4288,
        7616
      ],
      "id": "ff872a03-5c59-429c-b104-0ff16c231f03",
      "name": "Jina_Check"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r4mRi5yxtJsH06JOp42lk",
          "mode": "list",
          "cachedResultUrl": "/workflow/r4mRi5yxtJsH06JOp42lk",
          "cachedResultName": "System_Alert_Service"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5968,
        7200
      ],
      "id": "9ef2aeb5-71d5-41d2-ac00-01552ba83b21",
      "name": "Call 'System_Alert_Service'",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5254c2a-04ff-4bff-b0a4-ce58f9f8cf62",
              "leftValue": "={{ $json.title_cn }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "ce826707-ff54-4451-b6b3-2727097d925b",
              "leftValue": "={{ $json.title_cn }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ec044579-e819-4a12-8a05-d2d4ca7f0891",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "bd0e75dc-071e-46c4-a54b-90cbb1539e7d",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "Analysis failed due to content access issues.",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "fed5511a-197e-476b-8905-cc38db96590e",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d11561ec-f991-43ff-9696-3a1104ccd9e2",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "分析失败",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5248,
        8160
      ],
      "id": "dc6ed765-7809-4418-89b9-b00d2ca47884",
      "name": "Data_check"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "system_logs",
          "mode": "list",
          "cachedResultName": "system_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "COMPLETE",
            "source": "Tech_Intelligence",
            "message": "={{ $json.message }}",
            "target_url": "={{ $json.target_url }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_url",
              "displayName": "target_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3872,
        8144
      ],
      "id": "22d303c2-8eb2-4278-a0af-d0d2188005eb",
      "name": "System_log",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"event_type\": \"CONTENT_FETCH_FAILED\",\n    \"source\": \"Jina_Reader\",\n    \"source_key\": $('Loop Over Items').item.json.source_key || null,\n    \"source_name\": $('Loop Over Items').item.json.source_name || null,\n    \"source_platform\": $('Loop Over Items').item.json.source_platform || null,\n    \"signal_origin\": $('Loop Over Items').item.json.signal_origin || null,\n    \"url\": $('Loop Over Items').item.json.url,\n    \"error\": \"Content fetch failed: empty content or blocked response\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5024,
        7600
      ],
      "id": "c18b15e8-c4c4-4ea2-9dcf-6226577d25ab",
      "name": "Prepare_Jina_Error_Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n  {\n    \"event_type\": \"AI_ANALYSIS_FAILED\",\n    \"source\": \"AI_Response\",\n    \"source_key\": $('Loop Over Items').item.json.source_key || null,\n    \"source_name\": $('Loop Over Items').item.json.source_name || null,\n    \"source_platform\": $('Loop Over Items').item.json.source_platform || null,\n    \"signal_origin\": $('Loop Over Items').item.json.signal_origin || null,\n    \"url\": $('Loop Over Items').item.json.url,\n    \"error\": \"AI node analysis failed\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5488,
        7584
      ],
      "id": "ffb693b5-2441-46df-b855-b3a9081337b7",
      "name": "Prepare_AI_Error_Data"
    },
    {
      "parameters": {
        "jsCode": "let newCount = 0;\nlet updateCount = 0;\n\ntry {\n  newCount = $('Insert or update rows in a table').all().length;\n} catch (e) {}\n\ntry {\n  updateCount = $('Update_Points_Only').all().length;\n} catch (e) {}\n\nlet msgParts = [];\nif (newCount > 0) msgParts.push(`新增 ${newCount} 条`);\nif (updateCount > 0) msgParts.push(`刷新 ${updateCount} 条`);\n\nlet finalMsg = \"执行成功。\";\nif (msgParts.length > 0) {\n    finalMsg += \" \" + msgParts.join(\"，\") + \"。\";\n} else {\n    finalMsg += \" 本轮无有效数据变更。\";\n}\n\nreturn [{\n  json: {\n    message: finalMsg,\n    target_url: \"-\", \n    event_type: \"BATCH_COMPLETE\",\n    source: \"Tech_Intelligence\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        8144
      ],
      "id": "280be805-f6bb-4970-9340-3b838bfbc148",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news_failed",
          "mode": "list",
          "cachedResultName": "tech_news_failed"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "original_title": "={{ $('Loop Over Items').item.json.title }}",
            "url": "={{ $('Loop Over Items').item.json.url }}",
            "error_reason": "Content Fetch Failed",
            "source_type": "={{ $('Loop Over Items').item.json.source_name || 'Other' }}",
            "source_key": "={{ $('Loop Over Items').item.json.source_key || null }}",
            "source_name": "={{ $('Loop Over Items').item.json.source_name || null }}",
            "source_platform": "={{ $('Loop Over Items').item.json.source_platform || null }}",
            "signal_origin": "={{ $('Loop Over Items').item.json.signal_origin || null }}",
            "created_at": "={{ $now.toISO() }}",
            "title_cn": "={{ null }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "original_title",
              "displayName": "original_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_platform",
              "displayName": "source_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "signal_origin",
              "displayName": "signal_origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_reason",
              "displayName": "error_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4512,
        7440
      ],
      "id": "01c1f9b6-7963-4e55-a702-016fc9e3aa64",
      "name": "Insert rows in failed (Jina)",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news_failed",
          "mode": "list",
          "cachedResultName": "tech_news_failed"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "original_title": "={{ $('Loop Over Items').item.json.title }}",
            "title_cn": "={{ $('Edit Fields').item.json.title_cn || null }}",
            "url": "={{ $('Edit Fields').item.json.url }}",
            "error_reason": "AI Analysis Failed",
            "source_type": "={{ $('Loop Over Items').item.json.source_name || 'Other' }}",
            "source_key": "={{ $('Loop Over Items').item.json.source_key || null }}",
            "source_name": "={{ $('Loop Over Items').item.json.source_name || null }}",
            "source_platform": "={{ $('Loop Over Items').item.json.source_platform || null }}",
            "signal_origin": "={{ $('Loop Over Items').item.json.signal_origin || null }}",
            "created_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "original_title",
              "displayName": "original_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_name",
              "displayName": "source_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_platform",
              "displayName": "source_platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "signal_origin",
              "displayName": "signal_origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_reason",
              "displayName": "error_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5488,
        7920
      ],
      "id": "f0bd3e2b-be94-48d6-82eb-9ee4dbed4dab",
      "name": "Insert rows in failed (AI)",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "jina_raw_logs",
          "mode": "list",
          "cachedResultName": "jina_raw_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "raw_content": "={{ $('Jina_Reader').item.json.data ? $('Jina_Reader').item.json.data.replace(/\\0/g, '') : '' }}",
            "created_at": "={{ $now.toISO() }}",
            "url": "={{ $('Loop Over Items').item.json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "raw_content",
              "displayName": "raw_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4512,
        7632
      ],
      "id": "4c283189-8eb9-4144-b78a-152bd10cd947",
      "name": "Insert rows in Jina",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "hits",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2752,
        8624
      ],
      "id": "4a7926c9-6e12-4df4-886a-bfc6c200ef47",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.jina.ai/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.JINA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"jina-embeddings-v3\",\n  \"task\": \"retrieval.passage\",\n  \"dimensions\": 1024,\n  \"embedding_type\": \"float\",\n  \"input\": [\n    {{ JSON.stringify($json.summary) }}\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5744,
        8176
      ],
      "id": "fb3122f4-e37b-4b57-973c-4925e914500b",
      "name": "Jina_Embeddings",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO news_embeddings (url, embedding)\nVALUES (\n    $${{ $('Loop Over Items').item.json.url }}$$,\n    $${{ JSON.stringify($json.data[0].embedding) }}$$::vector\n)\nON CONFLICT (url) DO UPDATE SET embedding = EXCLUDED.embedding;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5952,
        8656
      ],
      "id": "5fed4981-4394-4700-ab56-1d2080ab16bd",
      "name": "Upsert_Embeddings",
      "credentials": {
        "postgres": {
          "id": "16OTc6Oi6SG8mPOF",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://developer.nvidia.com/blog/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        2544,
        7776
      ],
      "id": "5dc4bbfb-96a9-40e0-a6db-a52ec2a64757",
      "name": "RSS Read NVIDIA"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5758ffa6-d1ad-4b0f-ba8f-debae2f09c5a",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "8a865918-c720-4d62-ba38-703d4b473e4a",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "bea891ca-e822-4467-86cc-2ad16f3a9b74",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "437196c9-960f-4669-b584-721f1a991a2d",
              "name": "created_at",
              "value": "={{ $json.pubDate || $json.isoDate || $json.date || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "b01b6e22-36d3-4bc9-a792-07b5d839d5c4",
              "name": "id",
              "value": "={{ $json.guid || $json.id || null }}",
              "type": "string"
            },
            {
              "id": "5f0f8882-50fc-4c6d-8d2b-b09263e73c50",
              "name": "source_key",
              "value": "nvidia_dev_blog",
              "type": "string"
            },
            {
              "id": "4b612845-cbb1-4dc7-b1dc-eac8e509366a",
              "name": "source_name",
              "value": "NVIDIA Developer Blog",
              "type": "string"
            },
            {
              "id": "20bea758-ca8f-4a01-b92f-a0bcf9232477",
              "name": "source_platform",
              "value": "DirectRSS",
              "type": "string"
            },
            {
              "id": "5d80971e-6419-48af-ab59-1adfb6b0def9",
              "name": "signal_origin",
              "value": "Official",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2960,
        7776
      ],
      "id": "d02d8753-2e50-4d65-97db-c92469e0f49b",
      "name": "Edit Fields RSS NVIDIA"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst MAX_ITEMS = 8;\nconst MAX_AGE_HOURS = 120;\nconst cutoff = Date.now() - MAX_AGE_HOURS * 60 * 60 * 1000;\n\n// Keep only high-value AI infra / model platform / measurable performance signals.\nconst strongKeywords = [\n  'blackwell', 'hopper', 'gb200', 'b200', 'h200', 'h100', 'a100',\n  'dgx', 'nvlink', 'grace', 'data center', 'datacenter', 'cluster',\n  'nemo', 'nim', 'tensorrt', 'tensorrt-llm', 'triton', 'cuda', 'cudnn',\n  'llm', 'lmm', 'inference', 'training', 'rag', 'agent', 'agents',\n  'benchmark', 'throughput', 'latency', 'qps', 'tps', 'token/s',\n  'cost reduction', 'production', 'ga', 'deployment', 'kubernetes', 'k8s'\n];\n\n// Hard-drop topics that are usually low signal for this intelligence workflow.\nconst hardBlockKeywords = [\n  'geforce', 'rtx', 'dlss', 'ray tracing', 'raytracing',\n  'gaming', 'game', 'unreal engine', 'unity',\n  'graphics', 'rendering', 'creator', '3d art'\n];\n\nfunction toText(item) {\n  const j = item.json || {};\n  const cats = Array.isArray(j.categories) ? j.categories.join(' ') : '';\n  return [j.title, j.contentSnippet, j.content, j.link, cats]\n    .filter(Boolean)\n    .join(' ')\n    .toLowerCase();\n}\n\nfunction parseTs(item) {\n  const j = item.json || {};\n  const rawDate = j.isoDate || j.pubDate || j.date || j.published || null;\n  const ts = rawDate ? Date.parse(rawDate) : NaN;\n  return Number.isFinite(ts) ? ts : null;\n}\n\nfunction hasAny(text, keywords) {\n  return keywords.some((k) => text.includes(k));\n}\n\nfunction scoreItem(item) {\n  const j = item.json || {};\n  const title = String(j.title || '').toLowerCase();\n  const text = toText(item);\n\n  if (!text) return -999;\n  if (hasAny(text, hardBlockKeywords)) return -999;\n\n  let score = 0;\n\n  // Title hit is stronger than body hit.\n  if (hasAny(title, strongKeywords)) score += 3;\n  if (hasAny(text, strongKeywords)) score += 2;\n\n  // Bonus for measurable signals.\n  if (/(\\d+\\.?\\d*\\s*(%|x|ms|s|qps|tps|tokens\\/s|token\\/s))/i.test(text)) score += 1;\n  if (/(benchmark|throughput|latency|cost|production|ga|deploy|deployment)/i.test(text)) score += 1;\n\n  return score;\n}\n\nconst kept = items\n  .map((item) => {\n    const ts = parseTs(item);\n    const score = scoreItem(item);\n    return { item, ts, score };\n  })\n  .filter((x) => x.score >= 3) // strict threshold: drop low-value content\n  .filter((x) => x.ts === null || x.ts >= cutoff)\n  .sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    return (b.ts || 0) - (a.ts || 0);\n  })\n  .slice(0, MAX_ITEMS)\n  .map((x) => x.item);\n\nreturn kept;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        7776
      ],
      "id": "2c1e1e1b-62f1-4c0d-9866-824b5f0ee3ee",
      "name": "Limit NVIDIA Feed"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n                  .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n                  .replace(/\\\\/g, '/').slice(0, 100000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech content:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- **ALLOWED TAGS**: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\n\n- **CONSTRAINT & MAPPING**: \n  1. You MUST strictly select ONE Tag from the list above. DO NOT invent tags.\n  2. **Edge Case Mapping (Ambiguity Resolver)**:\n     - **[AI]**: LLM Models / RAG / Agents / Papers / Datasets / Benchmarks.\n     - **[\\u786c\\u4ef6]**: Phones / Chips / Robots / EV (Tesla) / Space / Energy.\n     - **[\\u5546\\u4e1a]**: Crypto Prices / Game Sales / IPO / Funding / Antitrust.\n     - **[\\u5f00\\u53d1]**: UI/UX / Design / Game Engines / Cloud Ops / Data Science Libs.\n     - **[\\u5b89\\u5168]**: Fraud / Scams / Deepfake Defense / Privacy Tools / CVE.\n     - **[\\u751f\\u6001]**: Law / Science / History / Career / Remote Work.\n\n- **TAG SELECTION LOGIC (Semantic Value Priority)**:\n  *Analyze the \"Core Event\" (What actually happened?). Use the following hierarchy to resolve overlaps, prioritizing Innovation over Context.*\n  1. **First, identify the Core Event** (e.g., Launching a model vs. Being sued).\n  2. **Then, match the most fitting category** from the list below.\n  3. **If ambiguous**, prioritize categories higher in the list (Innovation > Business > Context).\n\n  1. **[AI] (Virtual Innovation)**:\n     - **Core Definition**: New Models (LLM/SLM), Algorithms, Agents, RAG, Datasets, or Research Papers.\n     - *Tie-Breaker*: If it is software/weight-based intelligence, select [AI].\n     - *Example*: \"OpenAI releases GPT-5\", \"Google DeepMind new paper\".\n\n  2. **[\\u786c\\u4ef6] (Physical Innovation)**:\n     - **Core Definition**: Physical Chips (GPU/TPU/CPU), Consumer Devices (Phones/Headsets), Robotics, EV (Cars), Space, or Energy.\n     - *Tie-Breaker*: If it is a tangible object (even an AI chip like H100), select [\\u786c\\u4ef6].\n     - *Example*: \"Nvidia H200 launched\", \"Apple Vision Pro update\".\n\n  3. **[\\u5546\\u4e1a] (Financial Impact)**:\n     - **Core Definition**: Corporate finance events: IPO, Earnings, Layoffs, Acquisition, Funding, Antitrust lawsuits.\n     - *Constraint*: Only use this if the news is NOT primarily about a product launch.\n     - *Example*: \"Microsoft revenue up 20%\", \"Tech startup lays off 50%\".\n\n  4. **[\\u5b89\\u5168] (Critical Risk)**:\n     - **Core Definition**: Malicious attacks, Data Breaches, Ransomware, Critical CVEs, or Zero-day exploits.\n     - *Constraint*: Do NOT use for routine software updates or privacy policy changes.\n     - *Example*: \"LastPass database leaked\", \"Log4j vulnerability found\".\n\n  5. **[\\u5f00\\u53d1] (Engineering Tools)**:\n     - **Core Definition**: Updates to Programming Languages, Frameworks (React/Vue), Databases, Linux Kernel, Git, or UI/Design tools.\n     - *Scope*: Purely for developers and builders.\n\n  6. **[\\u751f\\u6001] (Macro Context)**:\n     - **Core Definition**: Policy, Legal regulations (GDPR/AI Act), Remote Work, Career advice, History, or Scientific discovery (Math/Physics/Bio).\n     - *Fallback*: If it doesn't fit 1-5, use this.\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Scenario-Based)\n\n**CRITICAL JSON FORMATTING RULE FOR ALL SCENARIOS:**\nYou MUST NOT use standard English double quotes (\") inside the generated text values, as it will break the JSON structure. Replace all double quotes with Chinese full-width quotes (\\u201c \\u201d).\n\n**SCENARIO A: Standard News (TechCrunch/Blog)**\n- Action: Extract core facts, focusing exclusively on hard data, entities, and key metrics (e.g., funding, valuation, ARR, user counts, release timeline).\n- Style Constraints:\n  1. **Cold & Objective:** Strictly NO emotional adjectives, subjective evaluations, or marketing hype (e.g., forbid words like \"\\u4ee4\\u4eba\\u77a9\\u76ee\\u7684\", \"\\u91cd\\u78c5\", \"\\u7206\\u53d1\\u5f0f\"). Let the numbers and facts speak for themselves.\n  2. **High Density:** Maximize the information-to-word ratio. Keep it highly concise but structurally complete.\n  3. **Logical Flow:** Group related metrics by theme rather than mixing unrelated data points in one sentence.\n  4. **Complete Sentences:** Your summary MUST end with a proper punctuation mark (e.g., \"\\u3002\"). Do not cut off mid-sentence.\n- Length: Max 200 Chinese characters.\n- Style: \"Claude paid consumer share rose to 22% by third-party tracking, while Anthropic expanded enterprise sales and API monetization in parallel.\"\n\n**SCENARIO B: Content Missing / Paywall / Access Denied**\n- Trigger: If content is very short, says \"Enable JavaScript\", \"403 Forbidden\", \"Access Denied\", or asks for Captcha.\n- Action: You MUST return the EXACT English string: \"Analysis failed due to content access issues.\"\n- **CRITICAL RULE**: DO NOT translate this sentence into Chinese. Treat it as a system flag and output it VERBATIM.\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n**Example (TechCrunch/Blog):**\n{\n  \"translation\": \"[\\u5546\\u4e1a] Claude\\u4ed8\\u8d39\\u7528\\u6237\\u5360\\u6bd4\\u6301\\u7eed\\u63d0\\u5347\",\n  \"summary\": \"Claude paid consumer share rose to 22% by third-party tracking, while Anthropic expanded enterprise sales and API monetization in parallel.\",\n  \"sentiment\": \"Positive\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"qwen3-max\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON. NEVER use unescaped English double quotes (\\\") or single quotes (\\') inside your JSON string values. Always use Chinese full-width quotes (\\u201c\\u201d).\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt,\n          \"max_tokens\": 10000\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        7856
      ],
      "id": "c9eb0059-28e9-4bbb-8928-a06ffd0ed3fe",
      "name": "AI_Processor_TechCrunch",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n                  .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n                  .replace(/\\\\/g, '/').slice(0, 100000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech content:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- **ALLOWED TAGS**: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\n\n- **CONSTRAINT & MAPPING**: \n  1. You MUST strictly select ONE Tag from the list above. DO NOT invent tags.\n  2. **Edge Case Mapping (Ambiguity Resolver)**:\n     - **[AI]**: LLM Models / RAG / Agents / Papers / Datasets / Benchmarks.\n     - **[\\u786c\\u4ef6]**: Phones / Chips / Robots / EV (Tesla) / Space / Energy.\n     - **[\\u5546\\u4e1a]**: Crypto Prices / Game Sales / IPO / Funding / Antitrust.\n     - **[\\u5f00\\u53d1]**: UI/UX / Design / Game Engines / Cloud Ops / Data Science Libs.\n     - **[\\u5b89\\u5168]**: Fraud / Scams / Deepfake Defense / Privacy Tools / CVE.\n     - **[\\u751f\\u6001]**: Law / Science / History / Career / Remote Work.\n\n- **TAG SELECTION LOGIC (Semantic Value Priority)**:\n  *Analyze the \"Core Event\" (What actually happened?). Use the following hierarchy to resolve overlaps, prioritizing Innovation over Context.*\n  1. **First, identify the Core Event** (e.g., Launching a model vs. Being sued).\n  2. **Then, match the most fitting category** from the list below.\n  3. **If ambiguous**, prioritize categories higher in the list (Innovation > Business > Context).\n\n  1. **[AI] (Virtual Innovation)**:\n     - **Core Definition**: New Models (LLM/SLM), Algorithms, Agents, RAG, Datasets, or Research Papers.\n     - *Tie-Breaker*: If it is software/weight-based intelligence, select [AI].\n     - *Example*: \"OpenAI releases GPT-5\", \"Google DeepMind new paper\".\n\n  2. **[\\u786c\\u4ef6] (Physical Innovation)**:\n     - **Core Definition**: Physical Chips (GPU/TPU/CPU), Consumer Devices (Phones/Headsets), Robotics, EV (Cars), Space, or Energy.\n     - *Tie-Breaker*: If it is a tangible object (even an AI chip like H100), select [\\u786c\\u4ef6].\n     - *Example*: \"Nvidia H200 launched\", \"Apple Vision Pro update\".\n\n  3. **[\\u5546\\u4e1a] (Financial Impact)**:\n     - **Core Definition**: Corporate finance events: IPO, Earnings, Layoffs, Acquisition, Funding, Antitrust lawsuits.\n     - *Constraint*: Only use this if the news is NOT primarily about a product launch.\n     - *Example*: \"Microsoft revenue up 20%\", \"Tech startup lays off 50%\".\n\n  4. **[\\u5b89\\u5168] (Critical Risk)**:\n     - **Core Definition**: Malicious attacks, Data Breaches, Ransomware, Critical CVEs, or Zero-day exploits.\n     - *Constraint*: Do NOT use for routine software updates or privacy policy changes.\n     - *Example*: \"LastPass database leaked\", \"Log4j vulnerability found\".\n\n  5. **[\\u5f00\\u53d1] (Engineering Tools)**:\n     - **Core Definition**: Updates to Programming Languages, Frameworks (React/Vue), Databases, Linux Kernel, Git, or UI/Design tools.\n     - *Scope*: Purely for developers and builders.\n\n  6. **[\\u751f\\u6001] (Macro Context)**:\n     - **Core Definition**: Policy, Legal regulations (GDPR/AI Act), Remote Work, Career advice, History, or Scientific discovery (Math/Physics/Bio).\n     - *Fallback*: If it doesn't fit 1-5, use this.\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Scenario-Based)\n\n**CRITICAL JSON FORMATTING RULE FOR ALL SCENARIOS:**\nYou MUST NOT use standard English double quotes (\") inside the generated text values, as it will break the JSON structure. Replace all double quotes with Chinese full-width quotes (\\u201c \\u201d).\n\n**SCENARIO A: Official Release (Google AI Blog)**\n- Action: Extract model/version, benchmark deltas, availability status (Preview/GA), integration scope, and measurable usage or performance claims.\n- Style Constraints:\n  1. **Evidence-First:** Keep only claims with explicit data or concrete release facts.\n  2. **Metric Priority:** Prioritize benchmark changes, context length, latency/cost, modality capability, and rollout scope.\n  3. **Release Clarity:** Clearly state access surface and rollout stage.\n  4. **Complete Sentences:** Your summary MUST end with a proper punctuation mark (e.g., \"\\u3002\"). Do not cut off mid-sentence.\n- Length: Max 200 Chinese characters.\n- Style: \"Google released Gemini 3.1 Flash Live with focus on real-time voice interaction reliability and staged developer access via Gemini API.\"\n\n**SCENARIO B: Content Missing / Paywall / Access Denied**\n- Trigger: If content is very short, says \"Enable JavaScript\", \"403 Forbidden\", \"Access Denied\", or asks for Captcha.\n- Action: You MUST return the EXACT English string: \"Analysis failed due to content access issues.\"\n- **CRITICAL RULE**: DO NOT translate this sentence into Chinese. Treat it as a system flag and output it VERBATIM.\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n**Example (Google AI Blog):**\n{\n  \"translation\": \"[AI] Google\\u53d1\\u5e03Gemini 3.1 Flash Live\",\n  \"summary\": \"Google released Gemini 3.1 Flash Live with focus on real-time voice interaction reliability and staged developer access via Gemini API.\",\n  \"sentiment\": \"Positive\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"qwen3-max\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON. NEVER use unescaped English double quotes (\\\") or single quotes (\\') inside your JSON string values. Always use Chinese full-width quotes (\\u201c\\u201d).\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt,\n          \"max_tokens\": 10000\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        8016
      ],
      "id": "bb8b31c5-9aa4-467e-aaa8-3a92524083e2",
      "name": "AI_Processor_Google",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n                  .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n                  .replace(/\\\\/g, '/').slice(0, 100000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech content:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- **ALLOWED TAGS**: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\n\n- **CONSTRAINT & MAPPING**: \n  1. You MUST strictly select ONE Tag from the list above. DO NOT invent tags.\n  2. **Edge Case Mapping (Ambiguity Resolver)**:\n     - **[AI]**: LLM Models / RAG / Agents / Papers / Datasets / Benchmarks.\n     - **[\\u786c\\u4ef6]**: Phones / Chips / Robots / EV (Tesla) / Space / Energy.\n     - **[\\u5546\\u4e1a]**: Crypto Prices / Game Sales / IPO / Funding / Antitrust.\n     - **[\\u5f00\\u53d1]**: UI/UX / Design / Game Engines / Cloud Ops / Data Science Libs.\n     - **[\\u5b89\\u5168]**: Fraud / Scams / Deepfake Defense / Privacy Tools / CVE.\n     - **[\\u751f\\u6001]**: Law / Science / History / Career / Remote Work.\n\n- **TAG SELECTION LOGIC (Semantic Value Priority)**:\n  *Analyze the \"Core Event\" (What actually happened?). Use the following hierarchy to resolve overlaps, prioritizing Innovation over Context.*\n  1. **First, identify the Core Event** (e.g., Launching a model vs. Being sued).\n  2. **Then, match the most fitting category** from the list below.\n  3. **If ambiguous**, prioritize categories higher in the list (Innovation > Business > Context).\n\n  1. **[AI] (Virtual Innovation)**:\n     - **Core Definition**: New Models (LLM/SLM), Algorithms, Agents, RAG, Datasets, or Research Papers.\n     - *Tie-Breaker*: If it is software/weight-based intelligence, select [AI].\n     - *Example*: \"OpenAI releases GPT-5\", \"Google DeepMind new paper\".\n\n  2. **[\\u786c\\u4ef6] (Physical Innovation)**:\n     - **Core Definition**: Physical Chips (GPU/TPU/CPU), Consumer Devices (Phones/Headsets), Robotics, EV (Cars), Space, or Energy.\n     - *Tie-Breaker*: If it is a tangible object (even an AI chip like H100), select [\\u786c\\u4ef6].\n     - *Example*: \"Nvidia H200 launched\", \"Apple Vision Pro update\".\n\n  3. **[\\u5546\\u4e1a] (Financial Impact)**:\n     - **Core Definition**: Corporate finance events: IPO, Earnings, Layoffs, Acquisition, Funding, Antitrust lawsuits.\n     - *Constraint*: Only use this if the news is NOT primarily about a product launch.\n     - *Example*: \"Microsoft revenue up 20%\", \"Tech startup lays off 50%\".\n\n  4. **[\\u5b89\\u5168] (Critical Risk)**:\n     - **Core Definition**: Malicious attacks, Data Breaches, Ransomware, Critical CVEs, or Zero-day exploits.\n     - *Constraint*: Do NOT use for routine software updates or privacy policy changes.\n     - *Example*: \"LastPass database leaked\", \"Log4j vulnerability found\".\n\n  5. **[\\u5f00\\u53d1] (Engineering Tools)**:\n     - **Core Definition**: Updates to Programming Languages, Frameworks (React/Vue), Databases, Linux Kernel, Git, or UI/Design tools.\n     - *Scope*: Purely for developers and builders.\n\n  6. **[\\u751f\\u6001] (Macro Context)**:\n     - **Core Definition**: Policy, Legal regulations (GDPR/AI Act), Remote Work, Career advice, History, or Scientific discovery (Math/Physics/Bio).\n     - *Fallback*: If it doesn't fit 1-5, use this.\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Scenario-Based)\n\n**CRITICAL JSON FORMATTING RULE FOR ALL SCENARIOS:**\nYou MUST NOT use standard English double quotes (\") inside the generated text values, as it will break the JSON structure. Replace all double quotes with Chinese full-width quotes (\\u201c \\u201d).\n\n**SCENARIO A: Official Engineering Update (AWS Machine Learning Blog)**\n- Action: Extract service names, architecture boundary, deployment path, and measurable cost/performance outcomes.\n- Style Constraints:\n  1. **Implementation-Oriented:** Focus on production changes in Bedrock/SageMaker/EKS workflows.\n  2. **Operational Metrics:** Include latency, throughput, cost, region availability, and production-readiness signals when present.\n  3. **No Tutorial Retelling:** Summarize technical intelligence, not step-by-step instructions.\n  4. **Complete Sentences:** Your summary MUST end with a proper punctuation mark (e.g., \"\\u3002\"). Do not cut off mid-sentence.\n- Length: Max 200 Chinese characters.\n- Style: \"AWS updated Bedrock and SageMaker production guidance, emphasizing observability and cost control under stable inference workloads.\"\n\n**SCENARIO B: Content Missing / Paywall / Access Denied**\n- Trigger: If content is very short, says \"Enable JavaScript\", \"403 Forbidden\", \"Access Denied\", or asks for Captcha.\n- Action: You MUST return the EXACT English string: \"Analysis failed due to content access issues.\"\n- **CRITICAL RULE**: DO NOT translate this sentence into Chinese. Treat it as a system flag and output it VERBATIM.\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n**Example (AWS Machine Learning Blog):**\n{\n  \"translation\": \"[\\u5f00\\u53d1] AWS\\u66f4\\u65b0Bedrock\\u4e0eSageMaker\\u751f\\u4ea7\\u90e8\\u7f72\\u5b9e\\u8df5\",\n  \"summary\": \"AWS updated Bedrock and SageMaker production guidance, emphasizing observability and cost control under stable inference workloads.\",\n  \"sentiment\": \"Neutral\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"qwen3-max\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON. NEVER use unescaped English double quotes (\\\") or single quotes (\\') inside your JSON string values. Always use Chinese full-width quotes (\\u201c\\u201d).\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt,\n          \"max_tokens\": 10000\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        8160
      ],
      "id": "9515e16e-a232-4e17-a896-1c8e0aa4be21",
      "name": "AI_Processor_AWS",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n                  .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n                  .replace(/\\\\/g, '/').slice(0, 100000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech content:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- **ALLOWED TAGS**: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\n\n- **CONSTRAINT & MAPPING**: \n  1. You MUST strictly select ONE Tag from the list above. DO NOT invent tags.\n  2. **Edge Case Mapping (Ambiguity Resolver)**:\n     - **[AI]**: LLM Models / RAG / Agents / Papers / Datasets / Benchmarks.\n     - **[\\u786c\\u4ef6]**: Phones / Chips / Robots / EV (Tesla) / Space / Energy.\n     - **[\\u5546\\u4e1a]**: Crypto Prices / Game Sales / IPO / Funding / Antitrust.\n     - **[\\u5f00\\u53d1]**: UI/UX / Design / Game Engines / Cloud Ops / Data Science Libs.\n     - **[\\u5b89\\u5168]**: Fraud / Scams / Deepfake Defense / Privacy Tools / CVE.\n     - **[\\u751f\\u6001]**: Law / Science / History / Career / Remote Work.\n\n- **TAG SELECTION LOGIC (Semantic Value Priority)**:\n  *Analyze the \"Core Event\" (What actually happened?). Use the following hierarchy to resolve overlaps, prioritizing Innovation over Context.*\n  1. **First, identify the Core Event** (e.g., Launching a model vs. Being sued).\n  2. **Then, match the most fitting category** from the list below.\n  3. **If ambiguous**, prioritize categories higher in the list (Innovation > Business > Context).\n\n  1. **[AI] (Virtual Innovation)**:\n     - **Core Definition**: New Models (LLM/SLM), Algorithms, Agents, RAG, Datasets, or Research Papers.\n     - *Tie-Breaker*: If it is software/weight-based intelligence, select [AI].\n     - *Example*: \"OpenAI releases GPT-5\", \"Google DeepMind new paper\".\n\n  2. **[\\u786c\\u4ef6] (Physical Innovation)**:\n     - **Core Definition**: Physical Chips (GPU/TPU/CPU), Consumer Devices (Phones/Headsets), Robotics, EV (Cars), Space, or Energy.\n     - *Tie-Breaker*: If it is a tangible object (even an AI chip like H100), select [\\u786c\\u4ef6].\n     - *Example*: \"Nvidia H200 launched\", \"Apple Vision Pro update\".\n\n  3. **[\\u5546\\u4e1a] (Financial Impact)**:\n     - **Core Definition**: Corporate finance events: IPO, Earnings, Layoffs, Acquisition, Funding, Antitrust lawsuits.\n     - *Constraint*: Only use this if the news is NOT primarily about a product launch.\n     - *Example*: \"Microsoft revenue up 20%\", \"Tech startup lays off 50%\".\n\n  4. **[\\u5b89\\u5168] (Critical Risk)**:\n     - **Core Definition**: Malicious attacks, Data Breaches, Ransomware, Critical CVEs, or Zero-day exploits.\n     - *Constraint*: Do NOT use for routine software updates or privacy policy changes.\n     - *Example*: \"LastPass database leaked\", \"Log4j vulnerability found\".\n\n  5. **[\\u5f00\\u53d1] (Engineering Tools)**:\n     - **Core Definition**: Updates to Programming Languages, Frameworks (React/Vue), Databases, Linux Kernel, Git, or UI/Design tools.\n     - *Scope*: Purely for developers and builders.\n\n  6. **[\\u751f\\u6001] (Macro Context)**:\n     - **Core Definition**: Policy, Legal regulations (GDPR/AI Act), Remote Work, Career advice, History, or Scientific discovery (Math/Physics/Bio).\n     - *Fallback*: If it doesn't fit 1-5, use this.\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Scenario-Based)\n\n**CRITICAL JSON FORMATTING RULE FOR ALL SCENARIOS:**\nYou MUST NOT use standard English double quotes (\") inside the generated text values, as it will break the JSON structure. Replace all double quotes with Chinese full-width quotes (\\u201c \\u201d).\n\n**SCENARIO A: Official Enterprise AI Update (Microsoft Blog)**\n- Action: Extract product scope, enterprise integration boundary, governance/compliance controls, rollout timing, and measurable adoption impact.\n- Style Constraints:\n  1. **Enterprise Facts Only:** Prioritize governance, auditability, security controls, and rollout status.\n  2. **Adoption Evidence:** Include customer penetration, efficiency deltas, or workload impact if disclosed.\n  3. **Timeline Precision:** Clearly state announced/preview/GA status.\n  4. **Complete Sentences:** Your summary MUST end with a proper punctuation mark (e.g., \"\\u3002\"). Do not cut off mid-sentence.\n- Length: Max 200 Chinese characters.\n- Style: \"Microsoft announced Copilot-related enterprise updates with trust and governance as the primary rollout frame for large organizations.\"\n\n**SCENARIO B: Content Missing / Paywall / Access Denied**\n- Trigger: If content is very short, says \"Enable JavaScript\", \"403 Forbidden\", \"Access Denied\", or asks for Captcha.\n- Action: You MUST return the EXACT English string: \"Analysis failed due to content access issues.\"\n- **CRITICAL RULE**: DO NOT translate this sentence into Chinese. Treat it as a system flag and output it VERBATIM.\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n**Example (Microsoft Blog):**\n{\n  \"translation\": \"[\\u5546\\u4e1a] Microsoft\\u63a8\\u8fdbCopilot\\u4f01\\u4e1a\\u5316\\u4e0e\\u6cbb\\u7406\\u6574\\u5408\",\n  \"summary\": \"Microsoft announced Copilot-related enterprise updates with trust and governance as the primary rollout frame for large organizations.\",\n  \"sentiment\": \"Neutral\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"qwen3-max\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON. NEVER use unescaped English double quotes (\\\") or single quotes (\\') inside your JSON string values. Always use Chinese full-width quotes (\\u201c\\u201d).\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt,\n          \"max_tokens\": 10000\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        8320
      ],
      "id": "147978d4-5784-4354-9fd5-edbec480f0be",
      "name": "AI_Processor_Microsoft",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent \n      ? rawContent.replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n                  .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n                  .replace(/\\\\/g, '/').slice(0, 100000) \n      : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech content:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- **ALLOWED TAGS**: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\n\n- **CONSTRAINT & MAPPING**: \n  1. You MUST strictly select ONE Tag from the list above. DO NOT invent tags.\n  2. **Edge Case Mapping (Ambiguity Resolver)**:\n     - **[AI]**: LLM Models / RAG / Agents / Papers / Datasets / Benchmarks.\n     - **[\\u786c\\u4ef6]**: Phones / Chips / Robots / EV (Tesla) / Space / Energy.\n     - **[\\u5546\\u4e1a]**: Crypto Prices / Game Sales / IPO / Funding / Antitrust.\n     - **[\\u5f00\\u53d1]**: UI/UX / Design / Game Engines / Cloud Ops / Data Science Libs.\n     - **[\\u5b89\\u5168]**: Fraud / Scams / Deepfake Defense / Privacy Tools / CVE.\n     - **[\\u751f\\u6001]**: Law / Science / History / Career / Remote Work.\n\n- **TAG SELECTION LOGIC (Semantic Value Priority)**:\n  *Analyze the \"Core Event\" (What actually happened?). Use the following hierarchy to resolve overlaps, prioritizing Innovation over Context.*\n  1. **First, identify the Core Event** (e.g., Launching a model vs. Being sued).\n  2. **Then, match the most fitting category** from the list below.\n  3. **If ambiguous**, prioritize categories higher in the list (Innovation > Business > Context).\n\n  1. **[AI] (Virtual Innovation)**:\n     - **Core Definition**: New Models (LLM/SLM), Algorithms, Agents, RAG, Datasets, or Research Papers.\n     - *Tie-Breaker*: If it is software/weight-based intelligence, select [AI].\n     - *Example*: \"OpenAI releases GPT-5\", \"Google DeepMind new paper\".\n\n  2. **[\\u786c\\u4ef6] (Physical Innovation)**:\n     - **Core Definition**: Physical Chips (GPU/TPU/CPU), Consumer Devices (Phones/Headsets), Robotics, EV (Cars), Space, or Energy.\n     - *Tie-Breaker*: If it is a tangible object (even an AI chip like H100), select [\\u786c\\u4ef6].\n     - *Example*: \"Nvidia H200 launched\", \"Apple Vision Pro update\".\n\n  3. **[\\u5546\\u4e1a] (Financial Impact)**:\n     - **Core Definition**: Corporate finance events: IPO, Earnings, Layoffs, Acquisition, Funding, Antitrust lawsuits.\n     - *Constraint*: Only use this if the news is NOT primarily about a product launch.\n     - *Example*: \"Microsoft revenue up 20%\", \"Tech startup lays off 50%\".\n\n  4. **[\\u5b89\\u5168] (Critical Risk)**:\n     - **Core Definition**: Malicious attacks, Data Breaches, Ransomware, Critical CVEs, or Zero-day exploits.\n     - *Constraint*: Do NOT use for routine software updates or privacy policy changes.\n     - *Example*: \"LastPass database leaked\", \"Log4j vulnerability found\".\n\n  5. **[\\u5f00\\u53d1] (Engineering Tools)**:\n     - **Core Definition**: Updates to Programming Languages, Frameworks (React/Vue), Databases, Linux Kernel, Git, or UI/Design tools.\n     - *Scope*: Purely for developers and builders.\n\n  6. **[\\u751f\\u6001] (Macro Context)**:\n     - **Core Definition**: Policy, Legal regulations (GDPR/AI Act), Remote Work, Career advice, History, or Scientific discovery (Math/Physics/Bio).\n     - *Fallback*: If it doesn't fit 1-5, use this.\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Scenario-Based)\n\n**CRITICAL JSON FORMATTING RULE FOR ALL SCENARIOS:**\nYou MUST NOT use standard English double quotes (\") inside the generated text values, as it will break the JSON structure. Replace all double quotes with Chinese full-width quotes (\\u201c \\u201d).\n\n**SCENARIO A: Official Stack/Performance Update (NVIDIA Developer Blog)**\n- Action: Extract hardware/software stack details (GPU/SKU/framework), benchmark setup, throughput/latency/cost metrics, and deployment targets.\n- Style Constraints:\n  1. **Benchmark Discipline:** Keep measurable results and test context; avoid vague performance claims.\n  2. **Stack Specificity:** Explicitly include GPU generation, runtime/framework, and production deployment path.\n  3. **Metric Integrity:** If key metrics are missing, state they are undisclosed instead of inferring.\n  4. **Complete Sentences:** Your summary MUST end with a proper punctuation mark (e.g., \"\\u3002\"). Do not cut off mid-sentence.\n- Length: Max 200 Chinese characters.\n- Style: \"NVIDIA outlined AI Grid orchestration across data center and edge, with emphasis on scheduling architecture and continuous deployment paths.\"\n\n**SCENARIO B: Content Missing / Paywall / Access Denied**\n- Trigger: If content is very short, says \"Enable JavaScript\", \"403 Forbidden\", \"Access Denied\", or asks for Captcha.\n- Action: You MUST return the EXACT English string: \"Analysis failed due to content access issues.\"\n- **CRITICAL RULE**: DO NOT translate this sentence into Chinese. Treat it as a system flag and output it VERBATIM.\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n**Example (NVIDIA Developer Blog):**\n{\n  \"translation\": \"[\\u786c\\u4ef6] NVIDIA\\u53d1\\u5e03AI Grid\\u8de8\\u7aef\\u7f16\\u6392\\u65b9\\u6848\",\n  \"summary\": \"NVIDIA outlined AI Grid orchestration across data center and edge, with emphasis on scheduling architecture and continuous deployment paths.\",\n  \"sentiment\": \"Positive\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"qwen3-max\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON. NEVER use unescaped English double quotes (\\\") or single quotes (\\') inside your JSON string values. Always use Chinese full-width quotes (\\u201c\\u201d).\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt,\n          \"max_tokens\": 10000\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        8480
      ],
      "id": "3cd0acce-b076-4e77-8923-c46040edf54d",
      "name": "AI_Processor_NVIDIA",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.ALI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const sourceKey = loopNode.item.json.source_key || \"unknown\";\n    const sourceName = loopNode.item.json.source_name || \"unknown\";\n    const sourcePlatform = loopNode.item.json.source_platform || \"unknown\";\n    const signalOrigin = loopNode.item.json.signal_origin || \"unknown\";\n\n    const rawContent = $('Jina_Reader').item.json.data;\n    const cleaned = rawContent\n      ? rawContent\n          .replace(/!\\[.*?\\]\\(.*?\\)/g, '')\n          .replace(/\\[([^\\]]+)\\]\\(http.*?\\)/g, '$1')\n          .replace(/\\\\/g, '/')\n          .replace(/\\r/g, '')\n          .trim()\n      : \"\";\n\n    const content = cleaned ? cleaned.slice(0, 36000) : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n    const profile = \"DEFAULT\";\n    const scenarioHint = \"Fallback to scenario A unless thread signal is explicit\";\n    const sourceRules = [\n    \"Fallback profile for unknown source keys.\",\n    \"Use conservative extraction: core event + measurable facts + neutral tone.\",\n    \"If source characteristics are unclear, avoid over-inference and keep sentiment Neutral.\"\n];\n\n    const userPrompt = [\n      \"Analyze this tech content:\",\n      \"\",\n      'HEADLINE: \"' + title + '\"',\n      \"\",\n      \"FULL_CONTENT:\",\n      '\"\"\"',\n      content,\n      '\"\"\"',\n      \"\",\n      \"### GOAL\",\n      \"Output a JSON object with keys: 'translation', 'sentiment', 'summary'.\",\n      \"\",\n      \"### SOURCE CONTEXT\",\n      \"- source_key: \" + sourceKey,\n      \"- source_name: \" + sourceName,\n      \"- source_platform: \" + sourcePlatform,\n      \"- signal_origin: \" + signalOrigin,\n      \"- profile: \" + profile,\n      \"- scenario_hint: \" + scenarioHint,\n      \"\",\n      \"### 1. TRANSLATION RULES\",\n      \"- Format: '[Tag] Chinese Title'\",\n      \"- ALLOWED TAGS: [AI], [\\u5b89\\u5168], [\\u786c\\u4ef6], [\\u5f00\\u53d1], [\\u5546\\u4e1a], [\\u751f\\u6001].\",\n      \"- You MUST choose exactly ONE tag from the allowed list.\",\n      \"- Mapping:\",\n      \"  - [AI]: LLM/SLM models, agents, RAG, papers, datasets, benchmarks.\",\n      \"  - [\\u786c\\u4ef6]: chips, phones/devices, robots, EV, space, energy.\",\n      \"  - [\\u5546\\u4e1a]: funding, earnings, layoffs, IPO, M&A, antitrust.\",\n      \"  - [\\u5f00\\u53d1]: languages/frameworks, cloud ops, engineering tooling.\",\n      \"  - [\\u5b89\\u5168]: CVE, exploit, breach, ransomware, fraud, privacy incident.\",\n      \"  - [\\u751f\\u6001]: law/policy, career, remote work, science context.\",\n      \"- If overlap exists, resolve by core event priority: [AI] > [\\u786c\\u4ef6] > [\\u5546\\u4e1a] > [\\u5b89\\u5168] > [\\u5f00\\u53d1] > [\\u751f\\u6001].\",\n      \"- Style: professional, objective, no clickbait.\",\n      \"\",\n      \"### 2. SUMMARY RULES (Scenario-Based)\",\n      \"CRITICAL JSON FORMATTING: Do NOT use ASCII double quotes (\\\") inside generated text values. Use Chinese quotes (\\u201c\\u201d) when needed.\",\n      \"\",\n      \"SCENARIO A: Standard News (Tech blog / media)\",\n      \"- Extract hard facts only: entities, actions, dates, metrics, availability (GA/preview), and pricing if any.\",\n      \"- Style: cold objective, high information density, complete sentence ending with punctuation.\",\n      \"- Length: max 200 Chinese characters.\",\n      \"\",\n      \"SCENARIO B: Community Discussion (HN-like comments)\",\n      \"- Trigger when content is comment-thread heavy (many usernames/timestamps/replies).\",\n      \"- Synthesize consensus and disagreements; never translate user-by-user comments.\",\n      \"- Prefer in-text labels only when present: \\u6838\\u5fc3\\u8bae\\u9898\\uff1a \\u6280\\u672f\\u5206\\u6b67\\uff1a \\u53ef\\u884c\\u65b9\\u6848\\uff1a\",\n      \"- Length: max 200 Chinese characters.\",\n      \"\",\n      \"SCENARIO C: Content Missing / Paywall / Access Denied\",\n      \"- Trigger when content is too short, or contains Enable JavaScript / 403 Forbidden / Access Denied / captcha / bot-check.\",\n      \"- summary MUST be EXACT English string: Analysis failed due to content access issues.\",\n      \"- Do NOT translate this sentence.\",\n      \"\",\n      \"### 3. SENTIMENT\",\n      \"- Allowed values: Positive, Neutral, Negative.\",\n      \"- Positive: measurable growth or breakthrough; Negative: breach/bug/layoff/major regression; else Neutral.\",\n      \"- If scenario C, sentiment MUST be Neutral.\",\n      \"\",\n      \"### 4. SOURCE-SPECIFIC EXTRA RULES\",\n      ...sourceRules.map((r) => \"- \" + r),\n      \"\",\n      \"### OUTPUT FORMAT\",\n      \"Return STRICT JSON only, exactly these keys: translation, summary, sentiment.\",\n      \"No markdown, no extra keys, no explanation text.\"\n    ].join(\"\\n\");\n\n    return JSON.stringify({\n      model: \"qwen3-max-2025-09-23\",\n      max_tokens: 1000,\n      messages: [\n        {\n          role: \"system\",\n          content: \"You are a Senior Tech Intelligence Analyst. Output strict valid JSON only with keys translation, summary, sentiment. Never output markdown or extra fields.\"\n        },\n        {\n          role: \"user\",\n          content: userPrompt\n        }\n      ],\n      response_format: { type: \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4704,
        8640
      ],
      "id": "ac189065-c8d7-45cb-b290-c0ddad1c3af8",
      "name": "AI_Processor_Default",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 7,
        "output": "={{ ({\n  hackernews_frontpage: 0,\n  techcrunch_feed: 1,\n  google_ai_blog: 2,\n  aws_ml_blog: 3,\n  microsoft_ai_blog: 4,\n  nvidia_dev_blog: 5\n})[\n  $('Loop Over Items').item.json.source_key ?? $json.source_key\n] ?? 6 }}\n"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4368,
        8080
      ],
      "id": "6a008433-0b33-45b8-8104-75741d9f0dad",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read Google AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read AWS ML",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read Microsoft AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read NVIDIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Data_check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read Google AI": {
      "main": [
        [
          {
            "node": "Edit Fields RSS Google AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read AWS ML": {
      "main": [
        [
          {
            "node": "Edit Fields RSS AWS ML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read Microsoft AI": {
      "main": [
        [
          {
            "node": "Edit Fields RSS Microsoft AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Edit Fields RSS Google AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields RSS AWS ML": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields RSS Microsoft AI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields HTTP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check_Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Reader": {
      "main": [
        [
          {
            "node": "Jina_Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Jina_Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Existence": {
      "main": [
        [
          {
            "node": "Check_unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Points_Only": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_unique": {
      "main": [
        [
          {
            "node": "Jina_Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update_Points_Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Check": {
      "main": [
        [
          {
            "node": "Prepare_Jina_Error_Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in failed (Jina)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in Jina",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'System_Alert_Service'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data_check": {
      "main": [
        [
          {
            "node": "Prepare_AI_Error_Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in failed (AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_Jina_Error_Data": {
      "main": [
        [
          {
            "node": "Call 'System_Alert_Service'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare_AI_Error_Data": {
      "main": [
        [
          {
            "node": "Call 'System_Alert_Service'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "System_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Embeddings": {
      "main": [
        [
          {
            "node": "Upsert_Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert_Embeddings": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read NVIDIA": {
      "main": [
        [
          {
            "node": "Limit NVIDIA Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields RSS NVIDIA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit NVIDIA Feed": {
      "main": [
        [
          {
            "node": "Edit Fields RSS NVIDIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_HN": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_TechCrunch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_Google": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_AWS": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_Microsoft": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_NVIDIA": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor_Default": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI_Processor_HN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor_TechCrunch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor_Google",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor_AWS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor_Microsoft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor_NVIDIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_Processor_Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d02d0ac3-4310-4d40-9cde-3c45da071e87",
  "meta": {
    "instanceId": "cc71cb19c52277ee6a828e6a21e2dba61964271db5e597d972c12c82fd716ddf"
  },
  "id": "jR1uj7o7esaicRWl",
  "tags": []
}