etl_workflow/tech_news_pipline.json
{
  "name": "Tech_News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        -336
      ],
      "id": "fb02cf38-4e77-428f-91ee-a83e68ee0e2f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    const loopNode = $('Loop Over Items'); \n    const jinaNode = $('Jina_Reader');\n\n    const title = loopNode.item.json.title || \"No Title\";\n    const rawContent = $('Jina_Reader').item.json.data;    \n    const content = rawContent ? rawContent.slice(0, 12000) : \"CONTENT_UNAVAILABLE_FALLBACK_TO_TITLE\";\n\n    const userPrompt = `Analyze this tech news:\n\nHEADLINE: \"${title}\"\n\nFULL_CONTENT: \n\"\"\"\n${content}\n\"\"\"\n\n### GOAL\nOutput a JSON object with keys: 'translation', 'sentiment', 'summary'.\n\n### 1. TRANSLATION RULES\n- Format: '[Tag] Chinese Title'\n- Tag Priority: [AI] > [安全] > [硬件] > [开发] > [商业] > [生态].\n- Style: Professional, objective, NO clickbait.\n\n### 2. SUMMARY RULES (Critical)\n- Key: 'summary'\n- Mode: High-density Fact Extraction.\n- Source: Extract specific numbers, version names, benchmarks, or financial figures from FULL_CONTENT.\n- Length: Max 100 Chinese characters (Keep it short for dashboard).\n- **Fallback Logic**: If content starts with \"CONTENT_UNAVAILABLE\", you MUST still return valid JSON summary: \"Analysis failed due to content access issues.\"\n\n### 3. SENTIMENT\n- 'Positive' (Breakthrough/Growth), 'Negative' (Bug/Layoff), 'Neutral' (Tutorial/Opinion), If you cannot analyze the content (e.g., paywall, error), you MUST still return valid JSON with sentiment: \"Neutral\".\n\n### OUTPUT EXAMPLE\n{\n  \"translation\": \"[AI] DeepSeek发布V3开源模型\",\n  \"summary\": \"DeepSeek-V3参数量达671B，MMLU得分88.5，训练成本仅550万美元，已在HuggingFace开源。\",\n  \"sentiment\": \"Positive\"\n}`;\n\n    return JSON.stringify({\n      \"model\": \"deepseek-chat\",\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are a Senior Tech Intelligence Analyst. You output strictly valid JSON.\"\n        },\n        {\n          \"role\": \"user\",\n          \"content\": userPrompt\n        }\n      ],\n      \"response_format\": { \"type\": \"json_object\" }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1552,
        -496
      ],
      "id": "bfeb0672-2e99-4b21-977c-78b93f2963b5",
      "name": "AI_Processor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e18df3ce-0ffd-4ed2-bcb3-54525f05e6ca",
              "name": "title_cn",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).translation }}",
              "type": "string"
            },
            {
              "id": "fb590ee0-5f9f-48f2-8ced-5cbc98dad1cd",
              "name": "sentiment",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).sentiment }}",
              "type": "string"
            },
            {
              "id": "a1c889c5-d527-4f58-ac6b-130ad51f50c3",
              "name": "url",
              "value": "={{ $('Merge').item.json.url || $('Merge').item.json.link }}",
              "type": "string"
            },
            {
              "id": "74281de8-efb5-419e-ae0b-d612c9a48b9a",
              "name": "points",
              "value": "={{ $('Merge').item.json.points || 0 }}",
              "type": "string"
            },
            {
              "id": "0575ef75-a229-4979-be32-2f2dc9ffc4fe",
              "name": "summary",
              "value": "={{ JSON.parse($json.choices[0].message.content.replace(/```json/g, \"\").replace(/```/g, \"\").trim()).summary }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -496
      ],
      "id": "6ea2068c-77a0-4166-bfcb-e0b4c151f726",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -16,
        -432
      ],
      "id": "1d3a7db8-1027-4d30-aa63-2abf916d2366",
      "name": "RSS Read",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        -336
      ],
      "id": "e39bcad7-6812-4da6-b562-9f40dbf9b211",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://api.hnpwa.com/v0/news/1.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -240
      ],
      "id": "1691c5a4-7995-4cf0-a74e-2fb3b1d3c415",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb91466-fd8a-498a-a575-3756456c7a6b",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "042e8738-42b6-47a6-836a-cd6088ebed2c",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "02b5b9cb-1da9-42cc-9f82-66efeb43cb00",
              "name": "points",
              "value": "0",
              "type": "string"
            },
            {
              "id": "0aaa96c3-5dbf-47cb-9943-cc86a106ce15",
              "name": "created_at",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "0e770229-fc09-4bbf-bd7a-510ad3a386cb",
              "name": "id",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -432
      ],
      "id": "a5550302-a8f8-47e7-99a0-eb9803ca4517",
      "name": "Edit Fields RSS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f76c08d-1729-4eb8-b5dd-b9bc9a650fe7",
              "name": "created_at",
              "value": "={{ new Date($json.time * 1000).toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -240
      ],
      "id": "7c44a75a-b5e5-40fe-859e-261454eb8f2e",
      "name": "Edit Fields HTTP"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        -336
      ],
      "id": "13a6dae5-c24a-4901-bea7-7c410710dd1f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_YOUR_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        -496
      ],
      "id": "2e8f0834-2773-4fea-9d04-49b3f55d7fd6",
      "name": "Jina_Reader",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news",
          "mode": "list",
          "cachedResultName": "tech_news"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('Merge').item.json.title }}",
            "url": "={{ $json.url }}",
            "points": "={{ $json.points }}",
            "title_cn": "={{ $json.title_cn }}",
            "sentiment": "={{ $json.sentiment ? $json.sentiment : 'Neutral' }}",
            "source_id": "={{ $('Merge').item.json.id ? String($('Merge').item.json.id) : null }}",
            "created_at": "={{ $('Merge').item.json.created_at }}",
            "summary": "={{ $json.summary }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "time_ago",
              "displayName": "time_ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        -304
      ],
      "id": "e3a57308-f428-474e-9745-8fa6d3f71da4",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "Wey4GuL5rYP0cwCk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    (SELECT id FROM tech_news WHERE url = $${{ $json.url }}$$ LIMIT 1) as existing_id,\n    \n    $${{ $json.url }}$$ as url,\n    $${{ $json.title }}$$ as title,\n    {{ $json.points || 0 }} as points",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -400
      ],
      "id": "7b265243-2fab-4b66-912d-5940e5eb9f91",
      "name": "Check_Existence",
      "credentials": {
        "postgres": {
          "id": "Wey4GuL5rYP0cwCk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tech_news",
          "mode": "list",
          "cachedResultName": "tech_news"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "points": "={{ $('Loop Over Items').item.json.points || 0 }}",
            "url": "={{ $('Loop Over Items').item.json.url }}",
            "updated_at": "={{ $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "time_ago",
              "displayName": "time_ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title_cn",
              "displayName": "title_cn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        -304
      ],
      "id": "a5f46cc8-4686-42ac-9a1f-41e8225bc05b",
      "name": "Update_Points_Only",
      "credentials": {
        "postgres": {
          "id": "Wey4GuL5rYP0cwCk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3e2b69db-d331-4c03-b281-36cb220a2a68",
              "leftValue": "={{ $json.existing_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1104,
        -400
      ],
      "id": "142dca32-e779-4f34-8524-4d21af85a5ac",
      "name": "Check_unique"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Processor": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields RSS": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields HTTP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check_Existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina_Reader": {
      "main": [
        [
          {
            "node": "AI_Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_Existence": {
      "main": [
        [
          {
            "node": "Check_unique",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Points_Only": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_unique": {
      "main": [
        [
          {
            "node": "Jina_Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update_Points_Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "saveManualExecutions": true
  },
  "versionId": "aaa302c0-7330-4664-a9c2-c121c85c2ff5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b34d3cb882c7a78c2c7d3d7442451077b1960925e250e55186dfbf8c7c071352"
  },
  "id": "9IhGjZVyO6P2Ih2X",
  "tags": []
}